<div class="biit-input" style="width:{{width}}">
  <div class="input-container">
    <div *ngIf="type === Type.PASSWORD || icon" class="input-show-icon-container"
         [class.password]="type === Type.PASSWORD"
         (click)="reveal = (type === Type.PASSWORD ? !reveal : false); onActionPerformed.emit()">
      <biit-icon [name]="type === Type.PASSWORD ? 'show' : icon"
                 width="1.5rem"
                 height="1.5rem"
                 class="input-show-icon"
                 [pathStyle]="{fill: reveal ? '#F20D5E' : '#262626'}"
      ></biit-icon>
    </div>
    <input class="input-object"
           style="width:{{width}}"
           [(ngModel)]="value"
           (ngModelChange)="this.onChange($event);"
           [type]="reveal ? Type.TEXT : type" required
           [class.error]="error"
           [class.password]="type === Type.PASSWORD"
           [class.reveal]="reveal"
    >
    <label class="input-placeholder">{{placeholder}}</label>
    <biit-icon *ngIf="error" name="exclamation" width="1rem" height="1rem" class="input-error-icon" [pathStyle]="{fill:'#A1093F'}"></biit-icon>
    <div *ngIf="error" class="input-error-msg">{{error}}</div>
  </div>
</div>
