$default-color: #262626;
$background-color: #D9D9D9;
$secondary-color: #808080;
$error-color: #A1093F;

* { box-sizing:border-box; }


.input-container {
  position:relative;
  margin-top: 0.357rem;
}

.input-object {
  font-size:1rem;
  display:block;
  border:none;
  border-bottom:0.25rem solid $default-color;
  color: $default-color;
  padding: 1rem 1rem 0.786rem 1rem;
  height: 3rem;
  min-width: 3rem;
  font-weight: normal;
  &:focus {
    outline: none;
    background: $background-color;
  }
  &:hover {
    background: $background-color;
  }
  &.error {
    color: $error-color;
    border-color: $error-color;
  }
  &.password {
    padding: 1rem 3rem 0.786rem 1rem;
  }
  &.password.reveal {
    -webkit-text-security: none;
    input-security: none;
  }
}

.input-placeholder {
  color:$default-color;
  font-size:1rem;
  font-weight:bolder;
  position:absolute;
  pointer-events:none;
  left:1rem;
  top:1rem;
  height: 1rem;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.input-object:focus ~ .input-placeholder, .input-object:valid ~ .input-placeholder {
  top:-1rem;
  font-size: 0.714rem;
  font-weight:normal;
  color:$secondary-color;
}

.input-error-icon {
  top:1rem;
  position: absolute;
}
.input-error-msg {
  font-size: 0.714rem;
  color: $error-color;
  height: 0.714rem;
  margin-top: 0.357rem;
  margin-bottom: 0.429rem;
}
.biit-input {
  display: inline-grid;
}

.input-show-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.input-show-icon-container {
  right: 0;
  position: absolute;
  width: 3rem;
  height: 2.75rem;
  padding-top: 0.25rem;
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.password {
  cursor: pointer;
  &:hover {
    background-color: $background-color;
  }
}
