$hover-color: #D9D9D9;
$active-color: #EDEDED;

.navbar-user-canvas {
  height: 2.5rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;

  .content {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    box-sizing: border-box;
    padding: 0.4rem 0.4rem 0.4rem 0.6rem;
    user-select: none;
    cursor: pointer;

    &:hover {
      background: $hover-color;
    }

    &:active {
      background: $active-color;
    }

    .titles {
      display: flex;
      flex-direction: column;
      text-align: right;
      line-height: 1rem;
      width: 11.5rem;

      * {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .subtitle {
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }

    .avatar {
      height: 1.7rem;
      width: 1.7rem;
      background: #F20D5E;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      a {
        text-transform: uppercase;
        font-size: 0.7rem;
        color: white;
      }
    }
  }

  &.left-align {
    justify-content: flex-start;

    .content {
      flex-direction: row-reverse;
      padding: 0.4rem 0.6rem 0.4rem 0.4rem;

      .titles {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar-user-canvas {
    width: unset !important;
  }
  .titles {
    display: none !important;
  }

}
