<div>
  <div *ngFor="let year of sortByYear.keys()">
    <biit-checkbox [(ngModel)]="selectedRanges[year + '']" (ngModelChange)="onYearSelected(year)" >
      <div class="year-title">
        <div class="title-counter">
          <div> {{year}} </div>
          <div> ({{sortByYear.get(year).length}})</div>
        </div>
        <biit-icon
          [pathStyle]="selectedRanges[year + ''] ? {fill: '#ababab'} : undefined"
          name="right_arrow" class="year-arrow" [class.arrow-rotate]="!selectedRanges[year + ''] && selectedYear === year"
          (click)="$event.preventDefault(); onDisplayYear(year)" />
      </div>
      <div *ngIf="!selectedRanges[year + ''] && selectedYear === year">
        <div *ngFor="let month of sortByMonth.keys()">
          <biit-checkbox [(ngModel)]="selectedRanges[year + '-' + month]" >
            <div class="title-counter">
              <div>
                {{month | monthName}}
              </div>
              <div>
                ({{sortByMonth.get(month).length}})
              </div>
            </div>
          </biit-checkbox>
        </div>
      </div>
    </biit-checkbox>
  </div>
</div>
