$light-grey: #EDEDED;
$unselected: #262626;
$hover: #D9D9D9;
$error: #A1093F;

.tab-group {
  width: inherit;
  height: inherit;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background: $light-grey;

  > .tab-header {
    width: 100%;
    height: 2.1rem;
    min-height: 2.1rem;
    display: flex;

    > .tab-selector {
      display: inline-flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;

      &.error {
        color: $error;
      }

      &:not(.active) {
        background: $unselected;
        color: white;

        &.error {
          background: $error;
        }

        &:hover {
          background: $hover;
          color: $unselected;

          &.error {
            color: $error;
          }
        }
      }
    }
  }

  > .content {
    padding: 1.5rem;
    overflow-y: scroll;
  }
}
