<div class="tab-group" id="tabs">
  <div class="tab-header" #tabHeader>
    <div *ngFor="let tab of tabs"
         [attr.id]="'tab-' + tab.name"
         (click)="activateTab(tab)"
         [class.active]="tab.active"
         [class.error]="tab.error"
         [class.compact-mode]="compactMode"
         class="tab-selector"
         [tooltip]="compactMode && !tab.active ? tab.name : null"
    >
      <a>{{ tab.name }}</a>
    </div>
  </div>
  <biit-progress-bar *ngIf="loading"
                     [type]="BiitProgressBarType.INDETERMINATE"
  ></biit-progress-bar>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
