#chart {
  display: block;
  position: relative;
  height: fit-content;
  width: fit-content;

  apx-chart ::ng-deep .apexcharts-legend > .apexcharts-legend-series:last-child {
    display: none;
  }

  transition: 0.5s ease-in-out;
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
