<div id="chart"
     [style.opacity]="heatmapOptions ? '1' : '0'">
  <apx-chart #heatmap
             *ngIf="heatmapOptions"
             [series]="heatmapOptions.series"
             [chart]="heatmapOptions.chart"
             [dataLabels]="heatmapOptions.dataLabels"
             [colors]="heatmapOptions.colors"
             [stroke]="heatmapOptions.stroke"
             [plotOptions]="heatmapOptions.plotOptions"
             [xaxis]="heatmapOptions.xaxis"
             [yaxis]="heatmapOptions.yaxis"
             [legend]="heatmapOptions.legend"
             [title]="heatmapOptions.title"
             [tooltip]="heatmapOptions.tooltip"
             [grid]="heatmapOptions.grid"
             [states]="heatmapOptions.states"
  ></apx-chart>
  <div class="buttons"
       *ngIf="this.data?.elements[0]?.data.length > itemsPerPage">
    <button biit-icon
            [icon]="'right_arrow'"
            [disabled]="pageNumber == 1"
            (click)="pageNumber = pageNumber-1; updateGraph()"
            style="rotate: 180deg"
    ></button>
    <button biit-icon
            [icon]="'right_arrow'"
            [disabled]="this.data?.elements[0].data.length <= pageNumber*itemsPerPage"
            (click)="pageNumber = pageNumber+1; updateGraph()"
    ></button>
  </div>
</div>
