<div class="filter-view" id="metadata-filter">
  <div class="filter-container">
    <div class="filter-clear">
      @if (filter.size) {
        <div>
          <div>
            Clear All
          </div>
          <div>
            <button biit-icon
              [icon]="'cross_wide'"
              (click)="clearFilters()"
            ></button>
          </div>
        </div>
      }
    </div>
    <div class="filter-search">
      <biit-input-text
        placeholder="search"
        icon="search"
        [(ngModel)]="search"
        />
    </div>
    <div class="filter-sections">
      @for (field of (metadata.fields | filterBy: search); track field) {
        <div class="filter-section">
          <div class="filter-title" (click)="onFieldClick(field)">
            <div>
              <div>{{field}}</div>
              @if ((field | fieldType: metadata.data) === FieldType.BOOLEAN) {
                <div class="align-content-center">
                  <biit-boolean-filter
                    [filter]="filter.get(field)"
                    (filterChange)="onBooleanFilterChanged(field, $event)"/>
                </div>
              }
            </div>
            @if (filter | has : field) {
              <div class="filter-remove">
                <button biit-icon
                  [icon]="'cross_wide'"
                  (click)="$event.stopImmediatePropagation(); removeFilter(field)"
                ></button>
              </div>
            }
          </div>
          @if (field === selectedField && (field | fieldType: metadata.data) !== FieldType.BOOLEAN) {
            <div
              class="filter-body"
              >
              @switch (field | fieldType: metadata.data) {
                @case (FieldType.NUMBER) {
                  <biit-bar-range
                    [field]="field"
                    [items]="metadata.data"
                    [range]="filter.get(field)"
                    (rangeChange)="onRangeChanged(field, $event)"/>
                }
                @case (FieldType.DATE) {
                  <biit-date-filter-selector
                    [field]="field"
                    [items]="metadata.data"
                    [range]="filter.get(field)"
                    (rangeChange)="onDateRangeChanged(field, $event)"/>
                }
                @case (FieldType.STRING) {
                  <biit-text-filter
                    [filter]="filter.get(field)"
                    (filterChange)="onFilterChanged(field, $event)"/>
                }
                @default {
                  <div>Unknown</div>
                }
              }
            </div>
          }
        </div>
      }
    </div>

  </div>
</div>
