<div class="biit-input" aria-haspopup="listbox"
     [class.compact]="isCompact"
     [class.disabled]="isDisabled"
     (keydown)="!isDisabled && handleKeyboardEvents($event)"
     (keydown.enter)="!dropdownOpen && !isDisabled && openDropdown()"
>
  <div class="input-container" #input>
    <input [ngModel]="dropdownOpen ? filterText :
                      currentValue && isPrimitive ? currentValue :
                      currentValue && currentValue[label] ? currentValue[label] : ''"
           (ngModelChange)="filterText = $event; handleFilter()"
           (click)="!dropdownOpen && !isDisabled && openDropdown()"
           [placeholder]="dropdownOpen && currentValue && isPrimitive ? currentValue :
                          dropdownOpen && currentValue && currentValue[label] ? currentValue[label] : ''"
           tabindex="0"
           class="input-object"
           [class.grey-bg]="dropdownOpen"
           [class.default-cursor]="dropdownOpen"
           [disabled]="isDisabled"
           [readonly]="!dropdownOpen"/>
    <div class="input-show-icon-container"
         [class.passthrough]="!dropdownOpen"
         [class.rotate-90]="dropdownOpen"
         (click)="dropdownOpen && closeDropdown()">
      <biit-icon [name]="'right_arrow'"
                 class="input-show-icon"
                 [pathStyle]="{fill: isDisabled ? '#D9D9D9' : dropdownOpen ? '#F20D5E' : '#262626'}"
      ></biit-icon>
    </div>
    <div id="dropdown-label"
           class="input-placeholder"
           [class.disabled]="isDisabled"
           [class.compact]="dropdownOpen || currentValue">
      {{title}}
      <a *ngIf="isRequired"
         [style.color]="currentValue ? null : 'red'">*</a>
    </div>
    <div class="bottom-line"
         [class.disabled]="isDisabled"
    ></div>
  </div>
</div>
<div #dropdown
     [class.disabled]="isDisabled"
     class="dropdown-list"
     role="listbox"
     aria-expanded="false"
     aria-labelledby="dropdown-label"
     [class.dropdown-open]="dropdownOpen"
     [class.compact]="isCompact"
     (keydown)="handleKeyboardEvents($event)"
>
  <button *ngFor="let item of filteredData; index as i"
          (click)="onModelChange(item)"
          [class.selected]="currentValue === item"
          class="dropdown-item"
          role="option"
          aria-selected="false"
          [id]="i"
          [tabindex]="!dropdownOpen || isDisabled ? -1 : 0"
          [disabled]="!dropdownOpen || isDisabled"
  >
    <a>{{isPrimitive ? item : item[label]}}</a>
  </button>
  <button *ngIf="!filteredData.length"
          class="dropdown-item no-results"
          disabled
  >
    <a>No results found</a>
  </button>
</div>
