$default-color: #262626;
$background-color: #D9D9D9;
$secondary-color: #808080;
$hover-color: #EDEDED;

* { box-sizing:border-box; }

.biit-input {
  display: flex;
  min-width: 12.8rem;
  max-width: 25.6rem;
  height: 3.15rem;
  padding-top: 1.05rem;

  &.compact {
    width: 12.8rem;
  }
}

.input-container {
  position:relative;
  width: 100%;
}

.input-object {
  font-size:1rem;
  display:block;
  border:none;
  color: $default-color;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  height: 2.1rem;
  width: 100%;
  min-width: 2.1rem;
  font-weight: normal;
  cursor: pointer;

  &:focus, &:active, &:hover {
    outline: none;
    background: $background-color;
  }
}

.input-placeholder {
  color:$default-color;
  font-size:1rem;
  font-weight:bolder;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  left:0.7rem;
  top: 0.42rem;
  height: 0.7rem;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  /* active state */
  &.compact {
    top:-0.95rem;
    font-size: 0.7rem;
    font-weight:normal;
    color:$secondary-color;
  }
}

.input-show-icon {
  width: 1.05rem;
  height: 1.05rem;
}

.input-show-icon-container {
  top: 0;
  right: 0;
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover, &:focus, &:focus-visible {
    //background-color: $background-color;
    border: none;
    outline: none;
  }

  &:hover ~ .input-object {
    background: $background-color;
  }
}

.bottom-line {
  position: relative;
  top: -0.175rem;
  margin-bottom: -0.175rem;
  width: auto;
  height: 0.175rem;
  background: #262626;
}

.dropdown-list {
  background: white;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  border: 0.175rem solid black;
  margin-top: -0.175rem;
  width: 25.6rem;
  cursor: pointer;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;

  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;

  &.dropdown-open {
    transform: scaleY(1);
    opacity: 1;
  }

  &.compact {
    width: 12.8rem;
  }
}

.dropdown-item {
  line-height: 0.7rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  padding-left: 0.7rem;

  &.selected {
    background: $background-color;
    width: calc(100% + 0.3rem);
    margin-left: -0.15rem;
    padding-left: 0.85rem;
  }

  &:hover {
    background: $hover-color;
    width: calc(100% + 0.3rem);
    margin-left: -0.15rem;
    padding-left: 0.85rem;
  }
}

.passthrough {
  pointer-events: none;
}

.grey-bg {
  background: $background-color;
}
