$bar-color: #F20D5E;
$background-color: #808080;

.canvas {
  position: relative;
  width: inherit;
}

.dummy {
  position: absolute;
  width: 100%;
  height: 0.25rem;
  overflow:hidden;
}

.bar {
  position: absolute;
  background: $bar-color;
  height: 100%;

  &.indeterminate {
    width: 50%;
    animation: indeterminate 2s ease-in-out;
    animation-iteration-count: infinite;
  }

  &.determinate {
    transition: width 0.5s ease-in-out;
  }
}

@keyframes indeterminate {
  0% {
    left: -50%;
  }

  100% {
    left: 100%;
  }
}
