$default-color: #262626;
$background-color: #D9D9D9;
$secondary-color: #808080;
$error-color: #A1093F;

* { box-sizing:border-box; }

.biit-input {
  display: flex;
  height: inherit;
  min-width: 12.8rem;
  min-height: 4.2rem;
  padding-top: 1.05rem;
}

.input-container {
  position:relative;
  height: inherit;
  width: 100%;
}

.input-object {
  font-size:1rem;
  display:block;
  border:none;
  color: $default-color;
  padding: 0.45rem 0.7rem 0.45rem 0.7rem;
  height: inherit;
  min-height: 2.25rem;
  width: 100%;
  min-width: 2.1rem;
  font-weight: normal;
  border-bottom: 0.15rem solid $default-color;

  &:focus {
    outline: none;
    background: $background-color;
  }

  &:hover {
    background: $background-color;
  }

  &.error {
    color: $error-color;
    border-color: $error-color;
  }

  &.password {
    padding: 0.7rem 2.1rem 0.55rem 0.7rem;

    &.reveal {
      -webkit-text-security: none;
      input-security: none;
    }
  }
}

.input-placeholder {
  color:$default-color;
  font-size:1rem;
  font-weight:bolder;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  left:0.7rem;
  top: 0.42rem;
  height: 0.7rem;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.input-object:focus ~ .input-placeholder, .input-object:valid ~ .input-placeholder {
  top:-0.95rem;
  font-size: 0.7rem;
  font-weight:normal;
  color:$secondary-color;
}

.input-error-icon {
  display: flex;
  top:0.7rem;
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
}

.input-error-msg {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: $error-color;
  padding-top: 0.1rem;
  padding-bottom: 0.15rem;
  min-height: 1.05rem;

  a {
    display: block;
    line-height: 0.7rem;
  }
}

.input-show-icon {
  width: 1.05rem;
  height: 1.05rem;
}

.input-show-icon-container {
  top: 0;
  right: 0;
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover, &:focus, &:focus-visible {
    background-color: $background-color;
    border: none;
    outline: none;
  }
}

.bottom-line {
  position: relative;
  top: -0.175rem;
  margin-bottom: -0.175rem;
  width: auto;
  height: 0.175rem;
  background: #262626;
}
