$default-color: #262626;
$background-color: #D9D9D9;
$secondary-color: #808080;
$error-color: #A1093F;

* { box-sizing:border-box; }

.biit-input {
  display: flex;
  height: inherit;
  min-width: 12.8em;

  &.disabled {
    pointer-events: none;

    .input-object {
      background: $background-color;
    }
  }

  &.readonly {
    pointer-events: none;
  }
}

.input-container {
  position:relative;
  height: inherit;
  width: 100%;
}

.input-object {
  font-size:1em;
  display:block;
  border:none;
  color: $default-color;
  padding: 0.45em 0.7em 0.45em 0.7em;
  height: inherit;
  min-height: 2.25em;
  width: 100%;
  min-width: 2.1em;
  font-weight: normal;
  border-bottom: 3px solid $default-color;

  &:focus {
    outline: none;
    background: $background-color;
  }

  &:hover {
    background: $background-color;
  }

  &.error {
    color: $error-color;
    border-color: $error-color;
  }

  &.password {
    padding: 0.7em 2.1em 0.55em 0.7em;

    &.reveal {
      -webkit-text-security: none;
      input-security: none;
    }
  }
}

.input-placeholder {
  color:$default-color;
  font-size:1em;
  font-weight:bolder;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  left:0.7em;
  top: 0.42em;
  height: 0.7em;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.input-object:focus ~ .input-placeholder, .input-object:valid ~ .input-placeholder {
  top:-0.95em;
  font-size: 0.7em;
  line-height: 0.7em;
  font-weight:normal;
  color:$secondary-color;
}

.input-error-icon {
  display: flex;
  top:0.7em;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
}

.input-error-msg {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  color: $error-color;
  padding-top: 0.2em;
  min-height: 1.05em;
  line-height: 120%;

  a {
    display: block;
    line-height: 1.1em;
  }
}

.input-description {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  color: #808080;
  padding-top: 1.4em;
  min-height: 1.05em;
  line-height: 120%;
  font-style: italic;

  a {
    display: block;
    line-height: 1.1em;
  }
}

.input-show-icon {
  width: 1.05em;
  height: 1.05em;
}

.input-show-icon-container {
  top: 0;
  right: 0;
  position: absolute;
  width: 2.1em;
  height: 2.1em;
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover, &:focus, &:focus-visible {
    background-color: $background-color;
    border: none;
    outline: none;
  }
}

.bottom-line {
  position: relative;
  top: -3px;
  margin-bottom: -3px;
  width: auto;
  height: 3px;
  background: #262626;
}

.tooltip-icon {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
}
