<div class="biit-input" [class.disabled]="disabled" [class.readonly]="readonly">
  <div class="input-container">
    <biit-tooltip-icon *ngIf="info"
                       class="tooltip-icon"
                       [text]="info"></biit-tooltip-icon>
    <textarea class="input-object" required
           [(ngModel)]="value"
           (ngModelChange)="this.onChange($event);"
           (keydown.enter)="onActionPerformed.emit(value)"
           [attr.name]="fieldName"
           [attr.maxlength]="maxLength"
           [class.error]="error"
           [class.reveal]="reveal"
           [style.resize]="resize"
    ></textarea>
    <div class="input-placeholder">
      {{placeholder}}
      <a *ngIf="required"
         [style.color]="value ? null : 'red'">*</a>
    </div>
    <biit-icon *ngIf="error" name="exclamation" class="input-error-icon" [pathStyle]="{fill:'#A1093F'}"></biit-icon>
    <div *ngIf="error" class="input-error-msg">
      <a>
        {{error}}
      </a>
    </div>
  </div>
</div>
