<div class="metadata-view">
  <div class="metadata-header" [class.justify-center]="!titleField">
    <div class="data-icon">
      <biit-meta-element
        [styles]="data.styles"
        [classes]="data.classes"
        [icon]="data.icon"
      >
        <div *ngIf="data.custom" [innerHTML]="data.custom.innerHTML"></div>
      </biit-meta-element>
    </div>
    <div *ngIf="titleField" class="data-title" [tooltip]="data.data[titleField]">
      {{data.data[titleField]}}
    </div>
    <div>
      <button biit-icon
              [icon]="'cross_wide'"
              (click)="close()"
      ></button>
    </div>
  </div>
  <div class="metadata-info">
    <div *ngFor="let field of (fields | removeFromArray: [titleField]) " class="field">
      <div class="metadata-info-row">
        <div class="field-value">
          <biit-input-text
            [placeholder]="field"
            [ngModel]="data.data[field] | autoFormat"
            [disabled]="true"
          />
        </div>
      </div>
    </div>
  </div>
</div>
