$default-color: #262626;
$active-color: #F20D5E;
$bar-color: #D7D7D7;

.slider {
  flex: 1;
}

input[type=range] {
  font-size: 1em;
  appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 0.3em;
  background: $bar-color;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  box-sizing: border-box;
  height: 0.9em;
  width: 0.9em;
  background-color: $bar-color;
  border: 0.3em solid $default-color;
  transition: .2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: $active-color;
}
input[type="range"]:active::-webkit-slider-thumb {
  background-color: $active-color;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background-color: $active-color;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  box-sizing: border-box;
  height: 0.9em;
  width: 0.9em;
  background-color: $bar-color;
  border: 0.3em solid $default-color;
  border-radius: 0;
  transition: .2s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: $active-color;
}
input[type="range"]:active::-moz-range-thumb {
  background-color: $active-color;
}
input[type="range"]:focus::-moz-range-thumb {
  background-color: $active-color;
}

.ticks {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0.15em;
  margin-top: 0.25em;

  span {
    display: flex;
    justify-content: center;
    width: 0.75em;
    height: 1.85em;
    padding: 0 0.3em 1.3em 0.3em;
    background-color: #262626;
    line-height: 2.4em;
    white-space: nowrap;
    font-weight: 500;
    box-sizing: border-box;
    background-clip: content-box;
    cursor: pointer;

    &.no-labels {
      height: 0.85em;
      padding-bottom: 0.3em;
    }
  }
}
