<div class="slider">
  <input #ranger type="range"
         [(ngModel)]="value"
         (ngModelChange)="onChange(ranger.value);"
         [min]="min"
         [max]="max"
         [step]="step"
         (input)="progressScript()"
         (pointerdown)="showTooltip = true"
         (pointerup)="showTooltip = false"
  >
  <div #tooltip class="tooltip" [style.opacity]="showTooltip ? '100%' : '0%'"></div>
  <div class="ticks">
    <span *ngFor="let tick of [].constructor(ticks); index as i"
          [class.no-labels]="!labels.length"
          (click)="updateValue(i)">
      {{labels[i]}}
    </span>
  </div>
</div>
