$default-color: var(--component-color);
$trail-color: var(--trail-color);
$trail-selected-color: var(--selected-color);
$box-selected-color: var(--main-color);
$disabled-color: var(--main-background);

button {
  //remove og styles
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;

  box-sizing: border-box;
  font-size: 1em;
  line-height: 100%;
  padding: 0.625em;
  cursor: pointer;
  color: #262626;

  display: flex;
  gap: 0.375em;

  &:not(:last-child) {
    border-right: 2px solid #EDEDED;
  }

  &:disabled {
    pointer-events: none;
    color: #D9D9D9;

    ::ng-deep biit-icon svg * {
      fill: #D9D9D9 !important;
    }

    &:active, &.active {
      color: #808080;

      ::ng-deep biit-icon svg * {
        fill: #808080 !important;
      }
    }
  }

  &:active, &.active {
    background: #EDEDED;
    color: #F20D5E;

    ::ng-deep biit-icon svg * {
      fill: #F20D5E !important;
    }
  }

  &:hover {
    background: #D9D9D9;
  }
}

.toggle-group {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #EDEDED;
  width: fit-content;
}
