<div class="toggle-group">
  @for (button of buttons; track button) {
    <button
      [class.active]="multiple ? value && value.includes(button.value) : value == button.value"
      [disabled]="disabled || button.disabled"
      (click)="onToggle(button.value)"
      >
      @if (button.icon) {
        <biit-icon
          [name]="button.icon"
          [pathStyle]="{fill: 'var(--component-color)'}"
          style="display: block; height: 1em; width: 1em;"
        ></biit-icon>
      }
      @if (button.text) {
        <span
          style="display: block"
          >
          {{button.text}}
        </span>
      }
    </button>
  }
</div>
