<ng-container *ngIf="calendarMode; then calendarModeTemplate else datePickerTemplate"></ng-container>

<ng-template #datePickerTemplate>
  <div class="biit-input" [class.disabled]="disabled" [class.readonly]="readonly" >
    <div class="input-container">
      <input class="input-object"
             [ngModel]="value && !timePicker ? (value | date: 'yyyy-MM-dd') :
                        value && timePicker ? (value | date: 'yyyy-MM-dd\THH:mm') :
                        undefined"
             (ngModelChange)="onModelChange(parseISO($event))"
             [type]="timePicker ? 'datetime-local' : 'date'" required
             [style.background]="dropdownOpen ? '#D9D9D9' : null"
             [min]="min ? (min | date: 'yyyy-MM-dd') : undefined"
             [max]="max ? (max | date: 'yyyy-MM-dd') : undefined"
             [disabled]="disabled"
      >
      <div class="input-show-icon-container"
           [style.background]="dropdownOpen ? '#D9D9D9' : null"
           (click)="dropdownOpen ? closeDropdown(): openDropdown()"
           (keydown.enter)="dropdownOpen ? closeDropdown(): openDropdown()"
           tabindex="0">
        <biit-icon [name]="'calendar'"
                   class="input-show-icon"
                   [pathStyle]="{fill: dropdownOpen ? '#F20D5E' : '#262626'}"
        ></biit-icon>
      </div>
      <div class="input-placeholder input-filled">
        {{_placeholder}}
        <a *ngIf="required"
           [style.color]="value ? null : 'red'">*</a>
      </div>
      <biit-icon *ngIf="error || (value | isDisabled: disabledDays: disableWeekdays: disableWeekends: min: max)"
                 name="exclamation"
                 class="input-error-icon"
                 [pathStyle]="{fill:'#A1093F'}"
      ></biit-icon>

      <div style="position: relative; height: 0;">
        <div class="popup"
             [class.dropdown-open]="dropdownOpen"
             [style.height]="!monthSelector && timePicker ? '29.1em + 3px)' : null">
          <div *ngIf="!monthSelector"
               class="month-view">
            <div class="month-selector">
              <button biit-icon
                      [icon]="'right_arrow'"
                      style="rotate: 180deg"
                      (click)="prevMonth()"
              ></button>
              <button biit-button tertiary
                      class="month-label"
                      (click)="changeView()">
                {{viewerDate | translocoDate: {month: 'long'} }}
                {{viewerDate | translocoDate: {year: 'numeric'} }}
              </button>
              <button biit-icon
                      [icon]="'right_arrow'"
                      (click)="nextMonth()"
              ></button>
            </div>

            <div class="grid">
              <div *ngFor="let day of days | slice:0:7"
                   class="grid-element header">
                {{(day | translocoDate: {weekday: 'short'}).substring(0,2) }}
              </div>
              <button *ngFor="let day of days"
                      class="grid-element day"
                      [class.outer-day]="day | outOfMonth: viewerDate"
                      [class.is-today]="day | isToday"
                      [class.selected]="day | isSameDay: value"
                      [class.disabled]="day | isDisabled: disabledDays: disableWeekdays: disableWeekends: min: max"
                      (click)="onModelChange(day)"
                      tabindex="0"
              >
                {{day | calendarDate}}
              </button>
            </div>

            <div class="buttons">
              <button biit-button tertiary
                      class="today-btn"
                      (click)="setToday()">
                {{'inputs.today' | transloco}}
              </button>
              <button biit-button tertiary
                      (click)="closeDropdown()">
                {{'inputs.done' | transloco}}
              </button>
            </div>

            <div class="time-picker" *ngIf="!monthSelector && timePicker">
              <div class="selector">
                <div class="column"
                     style="min-width: 2em;">
                  <div class="item arrow"
                       (click)="onModelChange(sub(value, {hours: 1}))">
                    <biit-icon [name]="'right_arrow'"
                               [pathStyle]="{fill: '#262626'}"
                               class="up"
                    ></biit-icon>
                  </div>
                  <div class="item secondary"
                       (click)="onModelChange(sub(value, {hours: 1}))">
                    {{ value ? (sub(value, {hours: 1}) | date: 'H') : '' }}
                  </div>
                  <div class="item primary">
                    {{ value ? (value | date: 'H') : '' }}
                  </div>
                  <div class="item secondary"
                       (click)="onModelChange(add(value, {hours: 1}))">
                    {{ value ? (add(value, {hours: 1}) | date: 'H') : '' }}
                  </div>
                  <div class="item arrow"
                       (click)="onModelChange(add(value, {hours: 1}))">
                    <biit-icon [name]="'right_arrow'"
                               [pathStyle]="{fill: '#262626'}"
                               class="down"
                    ></biit-icon>
                  </div>
                </div>
                <div class="column"
                     style="min-width: 2em;">
                  <div class="item arrow"
                       (click)="onModelChange(sub(value, {minutes: 1}))">
                    <biit-icon [name]="'right_arrow'"
                               [pathStyle]="{fill: '#262626'}"
                               class="up"
                    ></biit-icon>
                  </div>
                  <div class="item secondary"
                       (click)="onModelChange(sub(value, {hours: 1}))">
                    {{ value ? (sub(value, {minutes: 1}) | date: 'mm') : '' }}
                  </div>
                  <div class="item primary">
                    {{ value ? (value | date: 'mm') : '' }}
                  </div>
                  <div class="item secondary"
                       (click)="onModelChange(add(value, {hours: 1}))">
                    {{ value ? (add(value, {minutes: 1}) | date: 'mm') : '' }}
                  </div>
                  <div class="item arrow"
                       (click)="onModelChange(add(value, {minutes: 1}))">
                    <biit-icon [name]="'right_arrow'"
                               [pathStyle]="{fill: '#262626'}"
                               class="down"
                    ></biit-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="year-view" *ngIf="monthSelector">
            <div class="month-selector">
              <button biit-button tertiary
                      class="month-label"
                      (click)="changeView()">
                {{viewerDate | translocoDate: {month: 'long'} }}
                {{viewerDate | translocoDate: {year: 'numeric'} }}
              </button>
            </div>

            <div class="selector">
              <div class="column"
                   style="min-width: 8em;">
                <div class="item arrow"
                     (click)="prevMonth()">
                  <biit-icon [name]="'right_arrow'"
                             [pathStyle]="{fill: '#262626'}"
                             class="up"
                  ></biit-icon>
                </div>
                <div class="item tertiary"
                     (click)="viewerDate = sub(viewerDate, {months: 2})">
                  {{sub(viewerDate, {months: 2}) | translocoDate: {month: 'long'} }}
                </div>
                <div class="item secondary"
                     (click)="prevMonth()">
                  {{sub(viewerDate, {months: 1}) | translocoDate: {month: 'long'} }}
                </div>
                <div class="item primary">
                  {{viewerDate | translocoDate: {month: 'long'} }}
                </div>
                <div class="item secondary"
                     (click)="nextMonth()">
                  {{add(viewerDate, {months: 1}) | translocoDate: {month: 'long'} }}
                </div>
                <div class="item tertiary"
                     (click)="viewerDate = add(viewerDate, {months: 2})">
                  {{add(viewerDate, {months: 2}) | translocoDate: {month: 'long'} }}
                </div>
                <div class="item arrow"
                     (click)="nextMonth()">
                  <biit-icon [name]="'right_arrow'"
                             [pathStyle]="{fill: '#262626'}"
                             class="down"
                  ></biit-icon>
                </div>
              </div>

              <div class="column"
                   style="min-width: 5em;">
                <div class="item arrow"
                     (click)="viewerDate = sub(viewerDate, {years: 1})">
                  <biit-icon [name]="'right_arrow'"
                             [pathStyle]="{fill: '#262626'}"
                             class="up"
                  ></biit-icon>
                </div>
                <div class="item tertiary"
                     (click)="viewerDate = sub(viewerDate, {years: 2})">
                  {{sub(viewerDate, {years: 2}) | translocoDate: {year: 'numeric'} }}
                </div>
                <div class="item secondary"
                     (click)="viewerDate = sub(viewerDate, {years: 1})">
                  {{sub(viewerDate, {years: 1}) | translocoDate: {year: 'numeric'} }}
                </div>
                <div class="item primary">
                  {{viewerDate | translocoDate: {year: 'numeric'} }}
                </div>
                <div class="item secondary"
                     (click)="viewerDate = add(viewerDate, {years: 1})">
                  {{add(viewerDate, {years: 1}) | translocoDate: {year: 'numeric'} }}
                </div>
                <div class="item tertiary"
                     (click)="viewerDate = add(viewerDate, {years: 2})">
                  {{add(viewerDate, {years: 2}) | translocoDate: {year: 'numeric'} }}
                </div>
                <div class="item arrow"
                     (click)="viewerDate = add(viewerDate, {years: 1})">
                  <biit-icon [name]="'right_arrow'"
                             [pathStyle]="{fill: '#262626'}"
                             class="down"
                  ></biit-icon>
                </div>
              </div>
            </div>

            <div class="buttons">
              <button biit-button tertiary
                      (click)="drawCalendar(); changeView()">
                {{'inputs.back' | transloco}}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-line"></div>
      <div *ngIf="error" class="input-error-msg">
        <a>
          {{error}}
        </a>
      </div>
      <div *ngIf="value | isDisabled: disabledDays: disableWeekdays: disableWeekends: min: max" class="input-error-msg">
        <a>
          {{'inputs.date-error' | transloco}}
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #calendarModeTemplate>
  <div class="popup calendar-mode"
       [style.height]="!monthSelector && timePicker ? 'calc(29.1em + 3px)' : null">
    <div *ngIf="!monthSelector"
         class="month-view">
      <div class="month-selector">
        <button biit-icon
                [icon]="'right_arrow'"
                style="rotate: 180deg"
                (click)="prevMonth()"
        ></button>
        <button biit-button tertiary
                class="month-label"
                (click)="changeView()">
          {{viewerDate | translocoDate: {month: 'long'} }}
          {{viewerDate | translocoDate: {year: 'numeric'} }}
        </button>
        <button biit-icon
                [icon]="'right_arrow'"
                (click)="nextMonth()"
        ></button>
      </div>

      <div class="grid">
        <div *ngFor="let day of days | slice:0:7"
             class="grid-element header">
          {{(day | translocoDate: {weekday: 'short'}).substring(0,2) }}
        </div>
        <button *ngFor="let day of days"
                class="grid-element day"
                [class.outer-day]="day | outOfMonth: viewerDate"
                [class.is-today]="day | isToday"
                [class.selected]="day | isSameDay: value"
                [class.disabled]="day | isDisabled: disabledDays: disableWeekdays: disableWeekends: min: max"
                (click)="onModelChange(day)"
                tabindex="0"
        >
          {{day | calendarDate}}
        </button>
      </div>

      <div class="buttons">
        <button biit-button tertiary
                class="today-btn"
                (click)="setToday()">
          {{'inputs.today' | transloco}}
        </button>
      </div>
    </div>

    <div class="time-picker" *ngIf="!monthSelector && timePicker">
      <div class="selector">
        <div class="column"
             style="min-width: 2em;">
          <div class="item arrow"
               (click)="onModelChange(sub(value, {hours: 1}))">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="up"
            ></biit-icon>
          </div>
          <div class="item secondary"
               (click)="onModelChange(sub(value, {hours: 1}))">
            {{ value ? (sub(value, {hours: 1}) | date: 'H') : '' }}
          </div>
          <div class="item primary">
            {{ value ? (value | date: 'H') : '' }}
          </div>
          <div class="item secondary"
               (click)="onModelChange(add(value, {hours: 1}))">
            {{ value ? (add(value, {hours: 1}) | date: 'H') : '' }}
          </div>
          <div class="item arrow"
               (click)="onModelChange(add(value, {hours: 1}))">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="down"
            ></biit-icon>
          </div>
        </div>
        <div class="column"
             style="min-width: 2em;">
          <div class="item arrow"
               (click)="onModelChange(sub(value, {minutes: 1}))">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="up"
            ></biit-icon>
          </div>
          <div class="item secondary"
               (click)="onModelChange(sub(value, {hours: 1}))">
            {{ value ? (sub(value, {minutes: 1}) | date: 'mm') : '' }}
          </div>
          <div class="item primary">
            {{ value ? (value | date: 'mm') : '' }}
          </div>
          <div class="item secondary"
               (click)="onModelChange(add(value, {hours: 1}))">
            {{ value ? (add(value, {minutes: 1}) | date: 'mm') : '' }}
          </div>
          <div class="item arrow"
               (click)="onModelChange(add(value, {minutes: 1}))">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="down"
            ></biit-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="year-view" *ngIf="monthSelector">
      <div class="month-selector">
        <button biit-button tertiary
                class="month-label"
                (click)="changeView()">
          {{viewerDate | translocoDate: {month: 'long'} }}
          {{viewerDate | translocoDate: {year: 'numeric'} }}
        </button>
      </div>

      <div class="selector">
        <div class="column"
             style="min-width: 8em;">
          <div class="item arrow"
               (click)="prevMonth()">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="up"
            ></biit-icon>
          </div>
          <div class="item tertiary"
               (click)="viewerDate = sub(viewerDate, {months: 2})">
            {{sub(viewerDate, {months: 2}) | translocoDate: {month: 'long'} }}
          </div>
          <div class="item secondary"
               (click)="prevMonth()">
            {{sub(viewerDate, {months: 1}) | translocoDate: {month: 'long'} }}
          </div>
          <div class="item primary">
            {{viewerDate | translocoDate: {month: 'long'} }}
          </div>
          <div class="item secondary"
               (click)="nextMonth()">
            {{add(viewerDate, {months: 1}) | translocoDate: {month: 'long'} }}
          </div>
          <div class="item tertiary"
               (click)="viewerDate = add(viewerDate, {months: 2})">
            {{add(viewerDate, {months: 2}) | translocoDate: {month: 'long'} }}
          </div>
          <div class="item arrow"
               (click)="nextMonth()">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="down"
            ></biit-icon>
          </div>
        </div>

        <div class="column"
             style="min-width: 5em;">
          <div class="item arrow"
               (click)="viewerDate = sub(viewerDate, {years: 1})">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="up"
            ></biit-icon>
          </div>
          <div class="item tertiary"
               (click)="viewerDate = sub(viewerDate, {years: 2})">
            {{sub(viewerDate, {years: 2}) | translocoDate: {year: 'numeric'} }}
          </div>
          <div class="item secondary"
               (click)="viewerDate = sub(viewerDate, {years: 1})">
            {{sub(viewerDate, {years: 1}) | translocoDate: {year: 'numeric'} }}
          </div>
          <div class="item primary">
            {{viewerDate | translocoDate: {year: 'numeric'} }}
          </div>
          <div class="item secondary"
               (click)="viewerDate = add(viewerDate, {years: 1})">
            {{add(viewerDate, {years: 1}) | translocoDate: {year: 'numeric'} }}
          </div>
          <div class="item tertiary"
               (click)="viewerDate = add(viewerDate, {years: 2})">
            {{add(viewerDate, {years: 2}) | translocoDate: {year: 'numeric'} }}
          </div>
          <div class="item arrow"
               (click)="viewerDate = add(viewerDate, {years: 1})">
            <biit-icon [name]="'right_arrow'"
                       [pathStyle]="{fill: '#262626'}"
                       class="down"
            ></biit-icon>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button biit-button tertiary
                (click)="drawCalendar(); changeView()">
          {{'inputs.back' | transloco}}
        </button>
      </div>
    </div>
  </div>
</ng-template>
