$text-color: #262626;
$hover-color: #EDEDED;
$background-color: #D9D9D9;

/*
  PAGE SELECTOR
 */

.page-selector {
  --center-fix: 0px;

  display: flex;
  position: relative;
  left: var(--center-fix);

  button[biit-icon] {
    &.horizontal-flip {
      rotate: -180deg;
    }

    &.compact ::ng-deep .icon-button-svg {
      width: 0.6rem;
    }
  }

  .page-display {
    display:block;
    position: relative;
    font-size:1rem;
    color: $text-color;
    font-weight: bold;

    input {
      border:none;
      box-sizing: border-box;
      padding-left: 0.7rem;
      padding-right: calc(50% + 0.35rem);
      height: 2.1rem;
      min-width: 4.1rem;
      font-size:1rem;
      color: $text-color;
      font-weight: bold;
      text-align: right;

      &:focus, &:active, &:hover {
        outline: none;
        background: $background-color;
      }

      &:disabled {
        pointer-events: none;
        color: $background-color;
      }
    }

    /* Removes arrow buttons on Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Removes arrow buttons on Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    .total-pages {
      position: absolute;
      left: calc(50% + 0.35rem);
      top: 0.95rem;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .bottom-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background: $text-color;
    }
  }
}

/*
  PAGE SIZE SELECTOR
 */

.page-size-selector {
  display: flex;
  align-items: center;
  color: $text-color;


  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 3rem;
    height: 2.1rem;
    cursor: pointer;

    &:hover, &:focus, &:focus-visible {
      background: $background-color;
    }
  }

  .wh-100 {
    display: inline-flex;
    width: 0.3rem;
    height: 0.3rem;
    padding: 0.2rem;

    transition: transform 0.5s ease;
    transform: rotate(90deg);

    &.rotate {
      transform: rotate(-90deg);
    }
  }

  .dropdown {
    position: relative;
    right: 3rem;
    top: 1.05rem;
    z-index: 1;

    .list {
      width: 3rem;
      background: white;
      position: absolute;
      display: flex;
      flex-direction: column;

      cursor: pointer;
      transform-origin: top;
      opacity: 0;
      pointer-events: none;
      transform: translate(0, var(--origin));
      transition: opacity 0.5s ease, transform 0.5s ease;

      &.dropdown-open {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0, 0);
      }

      .item {
        width: 100%;
        height: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        border-left: 0.2rem solid black;
        border-right: 0.2rem solid black;
        padding-right: 0.5rem;

        &:first-child{
          border-top: 0.2rem solid black;
        }

        &:last-child{
          border-bottom: 0.2rem solid black;
        }

        &.selected {
          background: $background-color;
        }

        &:hover, &:focus, &:focus-visible {
          border-left: none;
          border-right: none;
          background: $hover-color;
          padding-right: 0.7rem;
        }
      }
    }
  }
}

.onwards {
  --origin: 1rem;
}

.downwards {
  --origin: -1rem;
}

@media screen and (max-width: 600px) {
  .page-size-selector {
    display: none !important;
  }

}
