<div class="filter-view">
  <div class="filter-container">
    <div class="filter-clear">
      <div *ngIf="filter.size">
        <div>
          Clear All
        </div>
        <div>
          <button biit-icon
                  [icon]="'cross_wide'"
                  (click)="clearFilters()"
          ></button>
        </div>
      </div>
    </div>
    <div class="filter-search">
      <biit-input-text
        placeholder="search"
        icon="search"
        [(ngModel)]="search"
      />
    </div>
    <div class="filter-sections">
      <div *ngFor="let field of (metadata.fields | filterBy: search)" class="filter-section">
        <div class="filter-title" (click)="onFieldClick(field)">
          <div>
            <div>{{field}}</div>
            <div *ngIf="(field | fieldType: metadata.data) === FieldType.BOOLEAN">
              <biit-boolean-filter
                [filter]="filter.get(field)"
                (filterChange)="onBooleanFilterChanged(field, $event)"/>
            </div>
          </div>
          <div *ngIf="filter | has : field" class="filter-remove">
            <button biit-icon
                    [icon]="'cross_wide'"
                    (click)="$event.stopImmediatePropagation(); removeFilter(field)"
            ></button>
          </div>
        </div>
        <div *ngIf="field === selectedField && (field | fieldType: metadata.data) !== FieldType.BOOLEAN"
             class="filter-body"
             [ngSwitch]="field | fieldType: metadata.data"
        >
          <biit-bar-range *ngSwitchCase="FieldType.NUMBER"
                          [field]="field"
                          [items]="metadata.data"
                          [range]="filter.get(field)"
                          (rangeChange)="onRangeChanged(field, $event)"/>
          <biit-date-filter-selector *ngSwitchCase="FieldType.DATE"
                          [field]="field"
                          [items]="metadata.data"
                          [range]="filter.get(field)"
                          (rangeChange)="onDateRangeChanged(field, $event)"/>
          <biit-text-filter *ngSwitchCase="FieldType.STRING"
                            [filter]="filter.get(field)"
                            (filterChange)="onFilterChanged(field, $event)"/>
          <div *ngSwitchDefault>Unknown</div>
        </div>
      </div>
    </div>

  </div>
</div>
