<div class="sorter-view">
  <div class="sorter-container">
    <biit-input-text
      placeholder="search"
      icon="search"
      [(ngModel)]="search"
    />
    <div class="sorter-sections">
      <div *ngFor="let field of (metadata.fields | filterBy: search)" class="sorter-section">
        <div (click)="onFieldClick(field)">{{field}}</div>
        <div *ngIf="field === selectedField" [ngSwitch]="field | fieldType: metadata.data">
          <biit-bar-range *ngSwitchCase="FieldType.NUMBER" [field]="field" [items]="metadata.data"/>
          <div *ngSwitchDefault>Unknown</div>
        </div>
      </div>
    </div>

  </div>
</div>
