.filter-view {
  font-size: 1em;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  display: block;
}

.filter-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.filter-sections {
  overflow-y: auto;
  height: 100%;
  padding: 0 1em;
}

.filter-clear {
  margin: 1em 1em 1em 1em;
  min-height: 2.25em;
  align-self: end;

  & > div:first-child {
    display: inline-flex;
    align-items: center;
  }
}

.filter-search{
  margin: 0 1em;
}

.filter-title {
  display: flex;
  flex-direction: row;
  & > div:first-child {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}
.filter-remove {
  align-content: center;
  & > biit-icon {
    display: block; width: 1em; height: 1em
  }
}
.filter-body {
  margin: 0.5em 0;
}
.filter-section {
  cursor: pointer;
  user-select: none;
  &>div:first-child {
    min-height: 2.25em;
    align-items: center;
    font-size: 1em;
  }
  border-bottom: 1px solid #262626;
}
biit-date-filter-selector {
  font-size: 1em;
}
::ng-deep.biit-input {
  min-width: unset !important;
}
