$default-color: var(--component-color);
$background-color: var(--main-background);
$disabled-color: var(--disabled-menu-color);
$active-color: var(--main-color);
$popup-background: var(--popup-background);

:host {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.125em;
  width: 2.125em;

  &:hover, &:focus-visible, &:has(.checked) {
    background-color: $background-color;
  }

  &:active {
    ::ng-deep biit-icon path {
      fill: $active-color !important;
    }
  }

  &:disabled {
    pointer-events: none;

    &:hover, &:focus-visible {
      background-color: $popup-background;
    }

    ::ng-deep biit-icon path {
      fill: $disabled-color !important;
    }
  }

  &:has(.checked) ::ng-deep biit-icon path {
    fill: $active-color !important;
  }
}

.icon-button-svg {
  display: inline-flex;
  pointer-events: none;
  width: 1em;
  height: 1em;
}
