#bar-chart {
  display: block;
  height: inherit;
  width: inherit;
  overflow: hidden;
  overflow-x: scroll;

  transition: 0.5s ease-in-out;

  ::ng-deep .apexcharts-tooltip {
    border: 1px solid #262626;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    background: white;

    * {
      box-sizing: border-box;
    }

    .tooltip-header {
      background: #262626;
      color: white;
      padding: 0.45rem 0.7rem;
    }

    .tooltip-data {
      display: flex;
      align-items: center;
      padding: 0.45rem 0.7rem;

      .tooltip-square {
        height: 0.5rem;
        width: 0.5rem;
        margin-right: 0.45rem;
      }
    }
    //transform: translateX(-50%) translateY(-80%);
  }

  ::ng-deep .apexcharts-series {
    path:hover {
      box-sizing: border-box;
      border: 0.15rem solid #262626;
    }
  }
}
