$border-color: var(--component-color);
$background-color: var(--popup-background);

#bar-chart {
  display: block;
  height: inherit;
  width: inherit;
  overflow: hidden;
  overflow-x: auto;

  transition: 1s ease-in-out;

  ::ng-deep .apexcharts-tooltip {
    border: 1px solid #262626;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    background: $background-color;

    * {
      box-sizing: border-box;
    }

    .tooltip-content {
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
      padding: 0.45rem 0.7rem;
      color: $border-color;

      .tooltip-data {
        display: flex;
        align-items: center;

        .tooltip-square {
          height: 0.5rem;
          width: 0.5rem;
          margin-right: 0.45rem;
        }

        .tooltip-line {
          height: 0.1rem;
          width: 0.5rem;
          margin-right: 0.45rem;
        }
      }

    }
  }

  ::ng-deep .apexcharts-series {
    path:hover {
      box-sizing: border-box;
      border: 0.15rem solid $border-color;
    }
  }

  ::ng-deep .apexcharts-legend-series .apexcharts-legend-marker {
    margin-right: 7px;
  }
}
