$text-color: #EDEDED;
$background-color: #808080;

.tooltip {
  position: fixed;
  background: #808080;
  color: #EDEDED;
  width: fit-content;
  max-width: 25.6rem;
  font-size: 0.7rem;
  text-align: center;
  padding: 0.5rem 1.05rem;
  opacity: 0;
  pointer-events: none;
}

.onwards {
  animation: tooltip-slide 0.2s ease-out 0.5s;
  animation-fill-mode: forwards;
  --origin: 30%;
}

.downwards {
  animation: tooltip-slide 0.2s ease-out 0.5s;
  animation-fill-mode: forwards;
  --origin: -30%;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(0, var(--origin));
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
