<div class="slider-vertical">
  <input #ranger type="range"
         orient="vertical"
         class="vertical"
         [class.inverted]="inverted"
         [ngModel]="index"
         (ngModelChange)="onChange(this.data[ranger.value].value);"
         [min]="0"
         [max]="data.length - 1"
         [step]="1"
         (input)="progressScript()"
         (pointerdown)="showTooltip = true"
         (pointerup)="showTooltip = false"
  >

  <div class="ticks vertical">
    <div #tooltip class="tooltip-slider" [style.opacity]="showTooltip ? '100%' : '0%'"></div>
    <div *ngFor="let tick of $any(data); index as i; count as c"
         class="tick"
         [class.hide-tick]="!(!inverted ? data[i] : data[c-i-1]).label"
         (click)="value = (!inverted ? data[i] : data[c-i-1]).value; onChange((!inverted ? data[i] : data[c-i-1]).value)">
      <span></span>
      <div class="label" [class.show-desc]="showDescription">
        <span>
          {{(!inverted ? data[i] : data[c-i-1]).label}}
        </span>
        <span class="description" *ngIf="showDescription">
          {{(!inverted ? data[i] : data[c-i-1]).description}}
        </span>
        <biit-tooltip-icon *ngIf="(!inverted ? data[i] : data[c-i-1]).description && !showDescription"
                           [text]="(!inverted ? data[i] : data[c-i-1]).description"
        ></biit-tooltip-icon>
      </div>
    </div>
  </div>
</div>
