$default-color: #262626;
$active-color: #F20D5E;
$bar-color: #D7D7D7;

.slider {
  position: relative;
  flex: 1;
  width: inherit;
  height: inherit;

  &.vertical {
    display: flex;
  }
}

input[type=range] {
  font-size: 1em;
  appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  width: inherit;
  height: 0.3em;
  background: $bar-color;

  &.vertical {
    height: inherit;
    width: 0.3em;
    writing-mode: vertical-lr;
    direction: rtl;

    &.inverted {
      direction: ltr;
    }
  }

  &:not(.vertical).inverted {
    direction: rtl;
  }
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  box-sizing: border-box;
  height: 0.9em;
  width: 0.9em;
  background-color: $bar-color;
  border: 0.3em solid $default-color;
  transition: .2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: $active-color;
}
input[type="range"]:active::-webkit-slider-thumb {
  background-color: $active-color;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background-color: $active-color;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  box-sizing: border-box;
  height: 0.9em;
  width: 0.9em;
  background-color: $bar-color;
  border: 0.3em solid $default-color;
  border-radius: 0;
  transition: .2s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: $active-color;
}
input[type="range"]:active::-moz-range-thumb {
  background-color: $active-color;
}
input[type="range"]:focus::-moz-range-thumb {
  background-color: $active-color;
}

//.ticks {
//  display: flex;
//  justify-content: space-between;
//  padding: 0 0 0 3px;
//  margin-top: 5px;
//
//  span {
//    display: flex;
//    justify-content: center;
//    width: 0.75em;
//    height: 1.85em;
//    padding: 0 0.3em 1.3em 0.3em;
//    background-color: #262626;
//    line-height: 2.4em;
//    white-space: nowrap;
//    font-weight: 500;
//    box-sizing: border-box;
//    background-clip: content-box;
//    cursor: pointer;
//    font-size: 1em;
//
//    &.no-labels {
//      height: 0.85em;
//      padding-bottom: 0.3em;
//    }
//  }
//}
//
//.tooltip-slider {
//  position: absolute;
//  bottom: 4.7em;
//  transition: opacity .2s ease-in-out;
//  pointer-events: none;
//
//  > span {
//    font-size: 1em;
//    background: white;
//    padding: 0.1em 0.2em;
//    border: 1px solid #262626;
//    display: block;
//    position: relative;
//    min-width: max-content;
//  }
//}

.ticks {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 3px;
  margin-top: 5px;
  position: relative;

  .tick {
    display: flex;
    flex: 3;
    align-items: center;
    padding-left: 5px;
    gap: 3px;

    &:nth-child(2) {
      align-items: start;
      flex: 2;
    }

    &:last-child {
      align-items: end;
      flex: 2;
    }

    &.hide-tick > span {
      display: none;
    }

    .label {
      display: flex;
      gap: 5px;
      font-weight: 500;

      &.show-desc {
        flex-direction: column;
      }

      span {
        line-height: 100%;
      }

      .description {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .tick > span {
    display: flex;
    justify-content: center;
    width: 14px;
    height: 16px;
    padding: 7px 2px;
    background-color: #262626;
    font-weight: 500;
    box-sizing: border-box;
    background-clip: content-box;
    cursor: pointer;
    font-size: 1em;

    > span {
      position: absolute;
      width: var(--label-percent);
      top: 1rem;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 5px;

      > span {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
      }

      biit-tooltip-icon {
        margin: 3px;
      }
    }

    &:nth-child(2) > span {
      left: 0;
      text-align: left;
      justify-content: start;
    }
    &:last-child > span {
      right: 0;
      text-align: right;
      justify-content: end;
    }
  }

  &.vertical {
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin: 2px;
    padding: 0;

    > span {
      width: 20px;
      height: 14px;
      padding: 6px 6px 6px 6px;
    }
  }
}

.tooltip-slider {
  position: absolute;
  bottom: 4.7em;
  transition: opacity .2s ease-in-out;
  pointer-events: none;

  > span {
    font-size: 1em;
    background: white;
    padding: 0.1em 0.2em;
    border: 1px solid #262626;
    display: block;
    position: relative;
    min-width: max-content;
  }
}
