$default-color: #262626;
$trail: #EDEDED;
$trail-checked: #FBAEC9;
$box: #262626;
$box-checked: #F20D5E;
$disabled: #D9D9D9;

$box-border-size: 0.357rem;

.toggle-base {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
  &:hover .toggle-box:not(.checked) {
    transform: rotate(15deg) translate(0.143rem);
    border: $box-border-size solid $box-checked;
  }
}

.toggle-switch {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 1rem;
}

.toggle-trail {
  display: inline-flex;
  width: 2rem;
  height: $box-border-size;
  background: $trail;
  z-index: 0;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.checked {
    background: $trail-checked;
  }
}

.toggle-box {
  position: absolute;
  display: inline-flex;
  height: 1rem;
  width: 1rem;
  border: $box-border-size solid $box;
  box-sizing: border-box;
  z-index: 1;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.checked:not(.disabled) {
    transform: translate(1rem, 0) rotate(45deg) !important;
    border: $box-border-size solid $box-checked;
    background: $box-checked;
  }
  &.disabled:not(.checked) {
    border: $box-border-size solid $disabled;
  }
  &.checked.disabled {
    transform: translate(1rem, 0) rotate(45deg) !important;
    border: $box-border-size solid $disabled;
    background: $disabled;
  }
}

.toggle-label {
  margin-left: 1rem;
  cursor: inherit;

  &.disabled {
    color: $disabled;
  }
}
