$default-color: #262626;
$trail: #EDEDED;
$trail-checked: #FBAEC9;
$box: #262626;
$box-checked: #F20D5E;

.toggle-base {
  display: flex;
  align-items: center;
}

.toggle-switch {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 1rem;
}

.toggle-trail {
  display: inline-flex;
  width: 2rem;
  height: 0.357rem;
  background: #EDEDED;
  z-index: 0;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.toggle-trail-checked {
  background: #FBAEC9;
}

.toggle-box {
  position: absolute;
  display: inline-flex;
  z-index: 1;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  cursor: pointer;
}

.toggle-box:hover {
  transform: rotate(15deg) translate(0.143rem);
  filter: invert(19%) sepia(83%) saturate(6666%) hue-rotate(331deg) brightness(96%) contrast(98%);
}

.toggle-box-checked {
  transform: translate(1rem, 0) rotate(45deg) !important;
  filter: invert(19%) sepia(83%) saturate(6666%) hue-rotate(331deg) brightness(96%) contrast(98%);
}

.toggle-label {
  margin-left: 1rem;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.disabled-box {
  filter: invert(100%) sepia(0%) saturate(1394%) hue-rotate(188deg) brightness(89%) contrast(92%);
}

.disabled-text {
  color: #D9D9D9;
}
