$border-color: var(--component-color);
$background-color: var(--popup-background);

biit-meta-board {
  display: block;
  width: 100%;
  height: 100%;
}
.meta-view-chart-board{
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  & > :not(:nth-child(2)) {
    flex: 0 1 auto;
  }
  & > :nth-child(2) {
    flex: 1;
  }
}
.meta-view-column {
  min-width: 14em;
  max-width: 23em;
  width: 18em;
  flex: 0 1 auto;
  resize: horizontal;
  overflow: auto;
  border: 3px solid $border-color;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.padding-1 {
  padding: 0.1em;
}
.error-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 800px){
  .meta-view-column {
    position: absolute;
    background: $background-color;
    z-index: 1;
  }
}
