$default-color: #262626;
$selected-color: #F20D5E;
$disabled-color: #D9D9D9;
$_3px: 0.15em;
$_5px: 0.25em;
$_14px: 0.7em;

label {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  min-height: 1.2em;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.disabled {
    pointer-events: none;
    color: $disabled-color;
  }
  & .biit-radio {
    transform: rotate(-30deg);

    &.checked {
      transform: rotate(0deg);
    }
    &.disabled {
      transform: rotate(-30deg);
    }
  }
  &:hover .biit-radio {
    transform: rotate(-15deg);

    &.checked {
      transform: rotate(15deg);
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    margin-left: 0.75em;

    div {
      display: flex;
    }
  }
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

.biit-radio {
  display: inline-flex;
  height: 0.9em;
  width: 0.9em;
  margin-top: 0.2em;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.description {
  font-size: 0.75em;
  color: #808080;
  line-height: 120%;
  font-style: italic;
}
