$default-color: #262626;

.floating-action-button {
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  opacity: 50%;
  background: white;
  border: 3px solid $default-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:hover {
    opacity: 100%;

    ::ng-deep button:not(:first-child) {
      display: flex;
    }
  }

  ::ng-deep button:not(:first-child) {
    display: none;
  }
}
