$default-color: #262626;

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  background: white;

  &.overlay {
    opacity: 50%;
  }

  button[main] {
    position: relative;
  }

  .secondary {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 2.1em;
    left: -3px;
    background: white;
    border-bottom: 3px solid $default-color;
    border-left: 3px solid $default-color;
    border-right: 3px solid $default-color;
    z-index: 1;
  }

  ::ng-deep button[biit-icon]:not(button[main]) {
    display: none;
  }

  &:first-child {
    border-top: 3px solid $default-color;
    border-left: 3px solid $default-color;
    border-right: 3px solid $default-color;
  }

  &:last-child {
    border-bottom: 3px solid $default-color;
    border-left: 3px solid $default-color;
    border-right: 3px solid $default-color;
  }

  &:not(:first-child), &:not(:last-child) {
    border-left: 3px solid $default-color;
    border-right: 3px solid $default-color;
  }

  &:hover {
    opacity: 100%;

    .secondary {
      display: flex;
    }

    ::ng-deep button[biit-icon]:not(button[main]) {
      display: flex;
    }
  }
}
