$default-color: #262626;
$biit-color: #F20D5E;

.login-container {
  display: flex;
}

.login-column {
  width: 12.8rem;
  padding: 2.1rem;
  display: inline-flex;
  flex-direction: column;
}

.login-key-icon {
  position: absolute;
  margin-top: 1rem;
  rotate: 90deg;
  height: 12.8rem;
  width: 12.8rem;
}

.login-keyring {
  width: 1.1rem;
  background: $biit-color;
  height: 2.85rem;
}

.login-icon-square {
  display: inline-flex;
  border: solid 0.175rem $default-color;
  width: 12.8rem;
  height: 12.8rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 12.8rem;
}

.login-remember {
  padding: 0.7rem 0;
}

.margin-top-18 {
  margin-top: 0.9rem;
}

.centered {
  display: inline-flex;
  justify-content: center;
}

.tertiary-fix-14 {
  transform: scale(0.90);
  transform-origin: top left;
  width: 111%;
}
