$default-color: #262626;
$biit-color: #F20D5E;

.login-container {
  display: flex;
  font-size: inherit;
  column-gap: 4.2rem;
}

.login-column {
  width: 12.8em;
  display: inline-flex;
  flex-direction: column;
}

.login-key-icon {
  position: absolute;
  margin-top: 1em;
  rotate: 90deg;
  height: 12.8em;
  width: 12.8em;
}

.login-keyring {
  width: 1.1em;
  background: $biit-color;
  height: 2.85em;
}

.login-icon-square {
  display: inline-flex;
  border: solid 0.175em $default-color;
  width: 12.8em;
  height: 12.8em;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 12.8em;
  margin-top: 1.05em;
  margin-bottom: 1.05em;
}

.margin-vertical-14 {
  margin: 0.7em 0;
}

.margin-top-18 {
  margin-top: 0.9em;
}

.centered {
  display: inline-flex;
  justify-content: center;
}

.smaller-text {
  font-size: 0.9em;
}

@media (max-width: 600px) {
  ::ng-deep .popup-canvas {
    min-width: auto !important;

    .login-container {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }
  }
}
