<biit-popup [background]="false">
 <div class="login-container">
   <div class="login-column">
     <div class="login-icon-square">
       <div class="login-keyring"></div>
       <biit-icon [name]="$any('key_' + keyId)" class="login-key-icon"></biit-icon>
     </div>
   </div>
   <div class="login-column">
     <biit-input-text [(ngModel)]="login.username" fieldName="username" [type]="Type.TEXT" [error]="this.loginErrors.get(LoginError.USERNAME)"
                      placeholder="{{'login.username' | transloco}}" class="login-input"></biit-input-text>
     <biit-input-text [(ngModel)]="login.password" fieldName="password" [error]="this.loginErrors.get(LoginError.PASSWORD)"
                      (keyup.enter)="performLogin()"
                      placeholder="{{'login.password' | transloco}}" [type]="Type.PASSWORD" class="login-input"></biit-input-text>
     <biit-toggle
       class="login-remember margin-vertical-14"
       [(ngModel)]="login.remember">
       {{'login.remember' | transloco}}
     </biit-toggle>
     <div class="margin-top-18 centered">
       <button biit-button primary
               (click)="performLogin()"
       >
         {{'login.take_me_in' | transloco}}
       </button>
     </div>
     <div class="margin-top-18 centered">
       <button biit-button tertiary
               (click)="onNotRemember.emit()"
               class="smaller-text"
       >
         {{'login.forgot' | transloco}}
       </button>
     </div>
   </div>
 </div>
</biit-popup>
