$default-color: var(--component-color);
$trail-color: var(--hover-color);
$trail-selected-color: var(--selected-color);
$box-selected-color: var(--main-color);
$disabled-color: var(--main-background);

$_2px: 0.1em;
$_5px: 0.25em;
$_14px: 0.7em;
$_22px: 1.1em;
$_24px: 1.2em;
$_28px: 1.4em;
$_44px: 2.2em;

.toggle-base {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  min-height: 1.2em;
  cursor: pointer;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &:hover .toggle-box{
    &:not(.checked):not(.unchecked) {
      transform: translate($_24px) rotate(15deg);
      border: $_5px solid $box-selected-color;
    }
    &.checked {
      transform: translate($_44px, 0) rotate(45deg);
      border: $_5px solid $box-selected-color;
    }
    &.unchecked {
      transform: translate($_2px, 0) rotate(45deg);
      border: $_5px solid $box-selected-color;
      background: $default-color;
    }

  }
}

.checked {
  &.toggle-trail {
    background: $trail-selected-color;
  }
  &.toggle-box {
    transform: translate($_44px, 0) rotate(45deg);
    border: $_5px solid $box-selected-color;
    background: $box-selected-color;
  }
}
.unchecked {
  &.toggle-box {
    transform: translate($_2px, 0) rotate(45deg);
    background: $box-selected-color;
  }
}

.toggle-switch {
  display: flex;
  align-items: center;
  position: relative;
  height: 1.2em;
}

.toggle-trail {
  display: inline-flex;
  width: $_28px;
  height: $_5px;
  background: $trail-color;
  z-index: 0;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.toggle-box {
  position: absolute;
  display: inline-flex;
  height: $_14px;
  width: $_14px;
  border: $_5px solid $default-color;
  transform: translate($_22px, 0) rotate(0);
  box-sizing: border-box;
  z-index: 1;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.toggle-label {
  margin-left: $_14px;
  cursor: inherit;
  line-height: 1.2em;
  user-select: none;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &:empty {
    display: none;
  }
}
.ternary-toggle-container {
  display: flex;
  gap: 0.5rem;
}
