$default-color: #262626;
$selected-color: #F20D5E;
$disabled-color: #D9D9D9;
$_3px: 0.15rem;
$_5px: 0.25rem;
$_14px: 0.7rem;

label {
  display: flex;
  align-items: center;
  width: fit-content;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.disabled {
    pointer-events: none;
    color: $disabled-color;
  }
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;

  font: inherit;
  width: $_14px;
  height: $_14px;
  border: $_3px solid $default-color;
  box-sizing: border-box;
  margin: $_5px $_14px $_5px $_5px;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &:hover:not(.disabled) {
    transform: rotate(15deg);
    border: $_3px solid $selected-color;
  }
  &:checked:not(.disabled) {
    transform: rotate(45deg);
    border: $_3px solid $selected-color;
    background: $selected-color;
  }
  &.disabled:not(:checked) {
    border: $_3px solid $disabled-color;
  }
  &:checked.disabled {
    transform: rotate(45deg);
    border: $_3px solid $disabled-color;
    background: $disabled-color;
  }
}
