<label [class.disabled]="disabled" id="biit-checkbox">
  <input type="checkbox"
         class="checkbox-box"
         [ngModel]="checked"
         (ngModelChange)="onModelChange($event)"
         [disabled]="disabled"/>
  <div>
    <div>
      <a>
        <ng-content></ng-content>
      </a>
      <biit-tooltip-icon *ngIf="description && !showAlwaysDescription" inline [text]="description"/>
    </div>
    <span class="description" *ngIf="description && showAlwaysDescription">{{ description }}</span>
  </div>
</label>
