$default-color: #262626;
$selected-color: #F20D5E;
$disabled-color: #D9D9D9;
$_3px: 0.2em;
$_5px: 0.25em;
$_14px: 0.75em;

label {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  cursor: pointer;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.disabled {
    pointer-events: none;
    color: $disabled-color;
  }

  > div {
    display: flex;
    flex-direction: column;
    margin-left: 0.75em;

    div {
      display: flex;
    }

    &:has(div a:empty) {
      display: none;
    }
  }

  &:has(div div a:empty) {
    input {
      margin-top: 0;
    }
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;

    font: inherit;
    width: $_14px;
    height: $_14px;
    border: $_3px solid $default-color;
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    margin-top: $_5px;

    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;

    &:hover {
      border: $_3px solid $selected-color;
    }
    &:checked {
      border: $_3px solid $selected-color;
      background: $selected-color;
    }
    &:disabled:not(:checked) {
      border: $_3px solid $disabled-color;
    }
    &:checked:disabled {
      border: $_3px solid $disabled-color;
      background: $disabled-color;
    }

    div:has(a:empty) {
      display: none;
    }
  }

  a {
    line-height: 120%;
  }

  .description {
    font-size: 0.75em;
    color: #808080;
    line-height: 120%;
    font-style: italic;
  }
}
