$default-color: #262626;
$background-color: #D9D9D9;
$secondary-color: #808080;
$error-color: #A1093F;

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.15);
  z-index: 10;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 11;
  border: solid 0.25rem $default-color;
}
