<div *ngIf="type !== Type.INFO_BOX" [class.dark-bg]="background" class="popup-background"
     (click)="closableOutside ? onClosed.emit() : false">
</div>
<div #popup id="biit-popup"
     [class.popup-canvas]="type == Type.DEFAULT"
     [class.sixty-canvas]="type == Type.SIXTY"
     [class.info-box-canvas]="type == Type.INFO_BOX"
     [ngStyle]="type == Type.INFO_BOX ? {top: coordinates.y, left: coordinates.x} : undefined">
  <div *ngIf="header"
       class="header">
    <div class="title">
      <a>{{ title }}</a>
    </div>
    <div class="bar"></div>
    <biit-icon *ngIf="closable" id="close-button"
               class="close"
               [name]="'cross_wide'"
               [pathStyle]="{fill: '#000000'}"
               (click)="onClosed.emit()"
    ></biit-icon>
  </div>
  <div class="content" id="content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</div>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
