<div class="meta-board" id="metaviwer-board"
     [style.grid-template-columns]="'repeat(auto-fill, minmax(' + this.size + ', 1fr))'"
>
  <biit-meta-element id="metaviewer-element" [style.width]="this.size"
    *ngFor="let element of data; let index = index"
                      [styles]="element.styles"
                      [classes]="element.classes"
                      [class.selected]="element === selected"
                      [icon]="element.icon"
                      (click)="onElementClick(element)"
                     @fadeInOut
  ><div *ngIf="element.custom" [innerHTML]="element.custom.innerHTML"></div></biit-meta-element>
</div>
