.meta-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
  grid-auto-rows: 2em;
  gap: 0.2em;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding-right: 0.2em;
}
