<fieldset>
  @if (legend) {
    <legend>
      {{ legend }}
    </legend>
  }

  <div class="grp-buttons">
    @if (isEnabledPlus) {
      <button biit-icon
        icon="plus"
        (click)="onPlusClick.emit()"
      ></button>
    }
    @if (isEnabledMinus) {
      <button biit-icon
        icon="minus"
        (click)="onMinusClick.emit()"
      ></button>
    }
  </div>

  <ng-content></ng-content>
</fieldset>
@if (description) {
  <span
    class="grp-description">
    {{description}}
  </span>
}
