$border-color: var(--component-color);
$background-color: var(--chart-background);

#bar-chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  transition: 1s ease-in-out;

  ::ng-deep .apexcharts-tooltip {
    border: 1px solid $background-color;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    background: $background-color;

    * {
      box-sizing: border-box;
    }

    .tooltip-header {
      background: $background-color;
      color: $background-color;
      padding: 0.45rem 0.7rem;
    }

    .tooltip-content {
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
      padding: 0.45rem 0.7rem;

      .tooltip-data {
        display: flex;
        align-items: center;

        .tooltip-square {
          height: 0.5rem;
          width: 0.5rem;
          margin-right: 0.45rem;
        }

        .tooltip-line {
          height: 0.1rem;
          width: 0.5rem;
          margin-right: 0.45rem;
        }
      }

    }
  }

  ::ng-deep .apexcharts-series {
    path:hover {
      box-sizing: border-box;
      border: 0.15rem solid $background-color;
    }
  }
}
