$active-color: #F20D5E;
$disabled-color: #D9D9D9;

:host {
  width: 100%;
  height: 100%;
}

/*
  WEEK VIEW
 */

::ng-deep mwl-calendar-week-view .cal-week-view {
  height: inherit;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0,0,0,0);
}

::ng-deep mwl-calendar-week-view mwl-calendar-week-view-header {
  flex-shrink: 0;
  padding-right: 0.7rem;

  .cal-day-headers {
    border: 1px solid rgba(0,0,0,0) !important;
    border-bottom: 0 !important;

    .cal-header {
      color: #262626;
      border-left: 1px solid rgba(0,0,0,0) !important;
      border-right: 1px solid rgba(0,0,0,0) !important;

      span {
        opacity: 1;
        user-select: none;
      }

      &.cal-today {
        background-color: #FDE7EF;

        span {
          font-weight: 600;
        }
      }

      &.cal-weekend {
        background-color: #F2F2F2;

        span {
          color: #262626;
        }
      }
    }
  }
}

::ng-deep mwl-calendar-week-view .cal-all-day-events {
  width: calc(100% - 0.7rem);
  border: 1px solid transparent !important;
  border-top: 0.1rem solid #EDEDED !important;
  border-bottom: 0.1rem solid #EDEDED !important;

  .cal-day-columns, .cal-events-row {
    flex-shrink: 0;
    padding-right: 0.7rem;

    .cal-day-column {
      border-left: 1px solid transparent;
    }
  }

  mwl-calendar-week-view-event {
    width: 100%;

    .cal-event {
      border-radius: 0 !important;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.7rem;
      border: 0;
      border-left: 0.2rem solid;
      border-color: var(--event-primary) !important;
      background-color: var(--event-secondary) !important;
      color: var(--event-tertiary);
      user-select: none;

      &:hover {
        background-color: var(--event-hover) !important;
      }

      &:active {
        color: #FFFFFF !important;
        background-color: var(--event-primary) !important;
      }
    }
  }
}


@supports (-moz-appearance:none) {
  ::ng-deep mwl-calendar-week-view mwl-calendar-week-view-header, .cal-all-day-events {
    padding-right: 0;
  }
}

::ng-deep mwl-calendar-week-view .cal-time-events {
  flex-shrink: 1;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid rgba(0,0,0,0) !important;
  padding-top: 0.5rem;

  .cal-time-label-column, .cal-day-columns {
    height: fit-content;
  }

  .cal-time-label-column mwl-calendar-week-view-hour-segment > .cal-hour-segment {
    border-bottom: 1px solid rgba(0,0,0,0) !important;

    .cal-time {
      font-weight: normal;
      padding-top: 0;
      text-align: center;
      font-size: 0.8rem;
      position: absolute;
      top: -0.5rem;
    }
  }

  .cal-day-column {
    border-top: 1px solid #e1e1e1;

    &:first-child {
      border-left: none;
    }
  }

  .cal-day-column .cal-hour:not(:last-child) :last-child .cal-hour-segment {
    border-bottom: 1px solid #e1e1e1;
  }

  .cal-hour-odd {
    background-color: transparent;
  }

  .cal-weekend {
    background-color: #fafafa;
  }

  .cal-event {
    border-radius: 0 !important;
    font-size: 0.7rem;
    border: 0;
    border-left: 0.2rem solid;
    height: calc(100% - 3px) !important;
    border-color: var(--event-primary) !important;
    background-color: var(--event-secondary) !important;
    color: var(--event-tertiary);

    &:hover {
      background-color: var(--event-hover) !important;
    }

    &:active {
      color: #FFFFFF !important;
      background-color: var(--event-primary) !important;
    }

    .cal-event-title {
      font-weight: bold;
      text-transform: uppercase;
      user-select: none;
    }

    .two-lines {
      display: -webkit-box;
      line-height: 0.7rem;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      margin-top: -0.2rem;
    }

    .three-lines {
      display: -webkit-box;
      line-height: 0.7rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      margin-top: -0.2rem;
    }
  }
}

.cal-current-time-marker-custom {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 1px;
  z-index: 2;
}

/*
  MONTH VIEW
 */

.cell-top {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  box-sizing: border-box;

  .day-number {
    font-weight: bold;
    font-size: 1.2rem;

    &.out-month {
      color: $disabled-color;
    }

    &.today {
      color: $active-color;
    }
  }
}
