<mwl-calendar-week-view [style.display]="calendarMode != CalendarMode.WEEK ? 'none' : null"
                        #calendar
                        [locale]="locale.code"
                        [viewDate]="viewDate"
                        [events]="events"
                        [headerTemplate]="customHeader"
                        [currentTimeMarkerTemplate]="currentTimeMarkerTemplate"
                        [hourSegmentTemplate]="hourSegmentTemplate"
                        [eventTemplate]="eventTemplate"
                        [allDayEventsLabelTemplate]="allDayEventsLabelTemplate"
                        [refresh]="refresh"
                        (eventTimesChanged)="onEventDrop.emit($event)"
                        (eventClicked)="onEventClick.emit({event: $calendarEvent($event.event), sourceEvent: $event.sourceEvent})"
                        style="display: flex; flex-direction: column; height: 100%;"
></mwl-calendar-week-view>

<ng-template
  #customHeader
  let-days="days"
  let-locale="locale"
  let-dayHeaderClicked="dayHeaderClicked"
  let-eventDropped="eventDropped"
  let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate"
  let-dragEnter="dragEnter"
>
  <div class="cal-day-headers" role="row">
    <div
      class="cal-header"
      *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [ngClass]="day.cssClass"
      (mwlClick)="dayHeaderClicked.emit({ day: day, sourceEvent: $event })"
      mwlDroppable
      dragOverClass="cal-drag-over"
      (drop)="
            eventDropped.emit({
              event: $event.dropData.event,
              newStart: day.date
            })
          "
      (dragEnter)="dragEnter.emit({ date: day.date })"
      tabindex="0"
      role="columnheader"
    >
      <span style="text-transform: capitalize">
        <div *ngIf="!calendarUtility?.customHeaderDate; else customHeaderDate">
          {{ day.date | translocoDate: {weekday: 'short'}: this.locale }}
          {{ day.date | translocoDate: {day: '2-digit'}: locale }}
        </div>
        <ng-template #customHeaderDate>
          {{calendarUtility?.customHeaderDate(day.date)}}
        </ng-template>
      </span>
    </div>
  </div>
</ng-template>

<ng-template
  #currentTimeMarkerTemplate
  let-columnDate="columnDate"
  let-dayStartHour="dayStartHour"
  let-dayStartMinute="dayStartMinute"
  let-dayEndHour="dayEndHour"
  let-dayEndMinute="dayEndMinute"
  let-isVisible="isVisible"
  let-topPx="topPx"
>
  <div #timeMarker
    class="cal-current-time-marker-custom"
    *ngIf="isVisible"
    [style.top.px]="topPx"
  ></div>
</ng-template>

<ng-template
  #hourSegmentTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
  let-daysInWeek="daysInWeek"
>
  <div
    #hourSegmentElement
    [attr.aria-hidden]="
          {}
            | calendarA11y
              : (daysInWeek === 1
                  ? 'hideDayHourSegment'
                  : 'hideWeekHourSegment')
        "
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    [contextMenu]="gridContextMenu"
    [contextMenuValue]="segment.date"
    (mousedown)="startDragToCreate(segment, hourSegmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{segment.displayDate | date: 'HH:mm'}}
    </div>
  </div>
</ng-template>

<ng-template #allDayEventsLabelTemplate
>
  <div style="position: relative">
    <div style="display: block;
                text-align: center;
                position: absolute;
                top: 0.1rem;
                right: -36px;
                font-size: 0.7rem;
                width: 70px;">
      all day
    </div>
  </div>
</ng-template>

<ng-template
  #eventTemplate
  let-weekEvent="weekEvent"
  let-tooltipPlacement="tooltipPlacement"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody"
  let-tooltipDisabled="tooltipDisabled"
  let-tooltipDelay="tooltipDelay"
  let-column="column"
  let-daysInWeek="daysInWeek"
>
  <div #calEvent
    class="cal-event"
    [class.barred]="configuration.barred"
    [ngStyle]="eventStyles(weekEvent.event.color)"
    [mwlCalendarTooltip]="
          !tooltipDisabled
            ? (weekEvent.event.title
              | calendarEventTitle
                : (daysInWeek === 1 ? 'dayTooltip' : 'weekTooltip')
                : weekEvent.tempEvent || weekEvent.event)
            : ''
        "
    [tooltipPlacement]="tooltipPlacement"
    [tooltipEvent]="weekEvent.tempEvent || weekEvent.event"
    [tooltipTemplate]="tooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody"
    [tooltipDelay]="tooltipDelay"
    (mwlClick)="eventClicked.emit({ sourceEvent: $event })"
    (dblclick)="onEventDblClick.emit({event: $calendarEvent(weekEvent.event), sourceEvent: $event})"
    (mwlKeydownEnter)="eventClicked.emit({ sourceEvent: $event })"
    [contextMenu]="eventContextMenu"
    [contextMenuValue]="weekEvent.event"
    tabindex="0"
    role="application"
  >
    <span *ngIf="calEvent.offsetHeight >= 40" style="user-select: none;">
      {{weekEvent.event.start | date: 'HH:mm'}} - {{weekEvent.event.end | date: 'HH:mm'}}
    </span>
    <mwl-calendar-event-actions
      [event]="weekEvent.tempEvent || weekEvent.event"
      [customTemplate]="eventActionsTemplate"
    >
    </mwl-calendar-event-actions>
    &ngsp;
    <mwl-calendar-event-title
      [event]="weekEvent.tempEvent || weekEvent.event"
      [customTemplate]="eventTitleTemplate"
      [view]="daysInWeek === 1 ? 'day' : 'week'"
      [class.two-lines]="calEvent.offsetHeight >= 40 && calEvent.offsetHeight <54"
      [class.three-lines]="calEvent.offsetHeight >= 54"
    >
    </mwl-calendar-event-title>
  </div>
</ng-template>

<ng-template #eventTitleTemplate let-event="event" let-view="view">
      <span
        class="cal-event-title"
        [innerHTML]="event.title | calendarEventTitle: view:event"
        [attr.aria-hidden]="{} | calendarA11y: 'hideEventTitle'"
      >
      </span>
</ng-template>

<ng-template
  #eventActionsTemplate
  let-event="event"
  let-trackByActionId="trackByActionId"
>
      <span *ngIf="event.actions" class="cal-event-actions">
        <a
          class="cal-event-action"
          href="javascript:"
          *ngFor="let action of event.actions; trackBy: trackByActionId"
          (mwlClick)="action.onClick({ event: event, sourceEvent: $event })"
          (mwlKeydownEnter)="
            action.onClick({ event: event, sourceEvent: $event })
          "
          [ngClass]="action.cssClass"
          [innerHtml]="action.label"
          tabindex="0"
          role="button"
          [attr.aria-label]="
            { action: action } | calendarA11y: 'actionButtonLabel'
          "
        >
        </a>
      </span>
</ng-template>

<!-- MONTH VIEW -->

<mwl-calendar-month-view [style.display]="calendarMode != CalendarMode.MONTH ? 'none' : null"
                         [viewDate]="viewDate"
                         [events]="events"
                         [locale]="locale.code"
                         [cellTemplate]="monthCell"
                         [headerTemplate]="customMonthHeader"
                         [refresh]="refresh"
                         (eventTimesChanged)="onEventDrop.emit($event)"
                         (eventClicked)="onEventClick.emit({event: $calendarEvent($event.event), sourceEvent: $event.sourceEvent})"
                         style="display: flex; flex-direction: column; height: 100%;"
></mwl-calendar-month-view>

<ng-template
  #monthCell
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody"
  let-tooltipDelay="tooltipDelay"
  let-trackByEventId="trackByEventId"
  let-validateDrag="validateDrag"
>
  <div class="cell-top"
       [class.weekend]="day.isWeekend"
       [attr.aria-label]="{ day: day, locale: locale } | calendarA11y : 'monthCell'"
  >
    <div class="total-events">

    </div>
    <span class="day-number"
          [class.today]="day.isToday"
          [class.out-month]="!day.inMonth">
      {{ day.date | calendarDate : 'monthViewDayNumber' : locale }}
    </span>
  </div>

  <div class="cell-bottom"
       *ngIf="day.events.length > 0">
    <div *ngFor="let event of day.events | slice:0:(day.events > 3?2:3); trackBy: trackByEventId"
         class="event"
         [ngStyle]="eventStyles($calendarEvent(event).color)"
         [mwlCalendarTooltip]="$calendarEvent(event).title | calendarEventTitle : 'monthTooltip' : $calendarEvent(event)"
         [tooltipPlacement]="tooltipPlacement"
         [tooltipEvent]="$calendarEvent(event)"
         [tooltipTemplate]="tooltipTemplate"
         [tooltipAppendToBody]="tooltipAppendToBody"
         [tooltipDelay]="tooltipDelay"
         mwlDraggable
         [class.cal-draggable]="$calendarEvent(event).draggable"
         dragActiveClass="cal-drag-active"
         [dropData]="{ event: event, draggedFrom: day }"
         [dragAxis]="{ x: $calendarEvent(event).draggable, y: $calendarEvent(event).draggable }"
         [validateDrag]="validateDrag"
         [touchStartLongPress]="{ delay: 300, delta: 30 }"
         (mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })"
         [attr.aria-hidden]="{} | calendarA11y : 'hideMonthCellEvents'"
    >
      {{$calendarEvent(event).title}}
    </div>
  </div>
</ng-template>

<ng-template
  #customMonthHeader
  let-days="days"
  let-locale="locale"
  let-columnHeaderClicked="columnHeaderClicked"
  let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate"
>
  <div class="cal-cell-row cal-header" role="row">
    <div
      class="cal-cell"
      *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      (click)="
            columnHeaderClicked.emit({
              isoDayNumber: day.day,
              sourceEvent: $event
            })
          "
      [ngClass]="day.cssClass"
      tabindex="0"
      role="columnheader"
    >
      <span>
        {{ day.date | translocoDate : {weekday:'long'}: locale }}
      </span>

    </div>
  </div>
</ng-template>
