<label [class.disabled]="disabled" (mouseenter)="hover=true" (mouseleave)="hover=false">
  <input type="radio"
         [ngModel]="selected"
         (ngModelChange)="onModelChange($event)"
         [id]="id"
         [name]="name"
         [value]="value"
         [class.disabled]="disabled"/>
  <biit-icon [name]="value == selected ? 'radio_button_filled' : 'radio_button_empty'"
             [pathStyle]="{fill: disabled ? '#D9D9D9' : hover || (value == selected) ? '#F20D5E' : '#262626'}"
             class="biit-radio"
             [class.checked]="value == selected"
             [class.disabled]="disabled"
  ></biit-icon>
  <div>
    <div>
      <a><ng-content></ng-content></a>
      <biit-tooltip-icon *ngIf="description && !showAlwaysDescription" inline [text]="description"/>
    </div>
    <span class="description" *ngIf="description && showAlwaysDescription">{{ description }}</span>
  </div>
</label>
