$default-color: #F20D5E;
$dark-grey: #808080;
$light-grey: #D9D9D9;
$dark-border: #262626;

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.test-base{
    font-size: 1rem;
    line-height: 0.7rem;
    width: fit-content;
    background: transparent;
    box-sizing: border-box;
    border: 0.175rem solid transparent;

  &:not(.tertiary) {
    color: $dark-border;

    .test-content {
      padding: 0.675rem 1.375rem;
    }

    &:active .test-content {
      translate: 0.3rem 0.3rem;
    }

    &.primary {
      border: 0.175rem solid $default-color;

      &:hover {
        border: 0.175rem solid $dark-border;
      }

      .test-content {
        background: $default-color;
      }
    }

    &.secondary {
      border: 0.175rem solid $dark-border;

      &:hover .test-content {
        background: $light-grey;
      }
    }
  }

  &.tertiary {
    color: $default-color;

    .test-content {
      padding: 0.615rem 1.375rem;
      translate: 0 0.07rem;
    }

    &:hover .bar {
      top: 0.3rem;
    }

    &:active .bar {
      top: 0.15rem;
    }
  }

  &.disabled {
    pointer-events: none;

    &.primary {
      border: 0.175rem solid $light-grey;

      .test-content {
        background: $light-grey;
        color: $dark-grey;
      }
    }

    &.secondary {
      border: 0.175rem solid $light-grey;
      color: $light-grey;
    }

    &.tertiary {
      color: $light-grey;

      .bar {
        background: $light-grey;
      }
    }
  }
}

.test-content {
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
}

.bar {
  width: 100%;
  height: 0.15rem;
  background: $default-color;
  position: relative;
  top: 0.15rem;
}
