<div (click)="onClick.emit($event)" (dblclick)="onDoubleClick.emit($event)" class="button-border" [class.disabled]="disabled"
     [ngClass]="{'primary': 'moz-fix-primary', 'secondary': 'moz-fix-secondary', 'tertiary': 'moz-fix-tertiary'} [type]">
  <button [ngClass]="{'primary': 'primary', 'secondary': 'secondary', 'tertiary': 'tertiary'} [type]"
          [class.disabled]="disabled" class="biit-button">
    <ng-container *ngTemplateOutlet="buttonText"></ng-container>
  </button>
</div>

<ng-template #buttonText>
  <ng-content></ng-content>
</ng-template>
