$default-color: #F20D5E;
$dark-grey: #808080;
$light-grey: #D9D9D9;
$dark-border: #262626;

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button-base{
    font-size: 1rem;
    line-height: 1rem;
    width: fit-content;
    background: transparent;
    box-sizing: border-box;
    border: 0.175rem solid transparent;

  &:not(.tertiary) {
    color: $dark-border;

    .button-content {
      padding: 0.535rem 1.375rem;
    }

    &:active .button-content {
      translate: 0.3rem 0.3rem;
    }

    &.primary {
      background: $default-color;

      &:hover {
        background: transparent;
        border: 0.175rem solid $dark-border;
      }

      &:active {
        background: transparent;
        border: 0.175rem solid $dark-border;
      }

      .button-content {
        background: $default-color;
      }
    }

    &.secondary {
      border: 0.175rem solid $dark-border;

      &:hover .button-content {
        background: $light-grey;
      }

      &:active .button-content {
        background: $light-grey;
      }
    }
  }

  &.tertiary {
    color: $default-color;
    border: 0;

    &:hover .bar {
      top: 0.15rem;
    }

    &:active .bar {
      top: 0;
    }
  }

  &.disabled {
    pointer-events: none;

    &.primary {
      border: 0.175rem solid $light-grey;

      .button-content {
        background: $light-grey;
        color: $dark-grey;
      }
    }

    &.secondary {
      border: 0.175rem solid $light-grey;
      color: $light-grey;
    }

    &.tertiary {
      color: $light-grey;

      .bar {
        background: $light-grey;
      }
    }
  }
}

.button-content {
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.bar {
  width: 100%;
  height: 0.15rem;
  background: $default-color;
  position: relative;
  margin: 0 auto;
}
