<!-- DEFAULT MODE -->
<div *ngIf="type != 'icon'"
     class="biit-input" aria-haspopup="listbox"
     [class.compact]="compact"
     [class.disabled]="disabled"
     (keydown)="!disabled && handleKeyboardEvents($event)"
     (keydown.enter)="!dropdownOpen && !disabled && openDropdown()"
     (keydown.space)="!dropdownOpen && !disabled && openDropdown()"
>
  <div class="input-container" #input>
    <input [ngModel]="dropdownOpen ? filterText :
                      currentValues && currentValues.length ? currentValues.length + ' selected' : ''"
           (ngModelChange)="filterText = $event; handleFilter()"
           (click)="!dropdownOpen && !disabled && openDropdown()"
           [placeholder]="dropdownOpen && currentValues && currentValues.length ? currentValues.length + ' selected' : ''"
           tabindex="0"
           class="input-object"
           [class.grey-bg]="dropdownOpen"
           [class.default-cursor]="dropdownOpen"
           [disabled]="disabled"
           [readonly]="!dropdownOpen"/>
    <div class="input-show-icon-container"
         [class.passthrough]="!dropdownOpen"
         [class.rotate-90]="dropdownOpen"
         (click)="dropdownOpen && closeDropdown()">
      <biit-icon [name]="'right_arrow'"
                 class="input-show-icon"
                 [pathStyle]="{fill: disabled ? '#D9D9D9' : dropdownOpen ? '#F20D5E' : '#262626'}"
      ></biit-icon>
    </div>
    <div id="dropdown-label"
           class="input-placeholder"
           [class.disabled]="disabled"
           [class.compact]="dropdownOpen || (currentValues?.length)">
      {{title}}
      <a *ngIf="required"
         [style.color]="currentValues.length ? null : 'red'">*</a>
    </div>
    <div class="bottom-line"
         [class.disabled]="disabled"
    ></div>
  </div>
</div>

<!-- ICON MODE -->
<button biit-icon *ngIf="type == 'icon'"
                  [icon]="icon"
                  (click)="!dropdownOpen ? openDropdown() : closeDropdown()"
                  [checked]="dropdownOpen"
                  [disabled]="disabled"
></button>

<!-- DROPDOWN -->
<div #dropdown
     [class.disabled]="disabled"
     class="dropdown-list"
     role="listbox"
     aria-expanded="false"
     aria-labelledby="dropdown-label"
     [class.dropdown-open]="dropdownOpen"
     [class.compact]="compact"
     (keydown)="dropdownOpen && handleKeyboardEvents($event)"
>
  <biit-checkbox *ngFor="let item of filteredData; index as i"
                 class="dropdown-item"
                 [class.selected]="currentValues && currentValues.includes(item)"
                 [ngModel]="currentValues && currentValues.includes(item)"
                 (click)="onModelChange(item); $event.stopPropagation(); $event.preventDefault();"
                 (keydown.enter)="onModelChange(item)"
                 (keydown.space)="onModelChange(item)"
                 [tabindex]="!dropdownOpen || disabled ? -1 : 0"
                 role="option"
                 aria-selected="false"
                 [disabled]="false">
    {{primitive ? item : item[label]}}
  </biit-checkbox>
  <button *ngIf="!filteredData?.length"
          class="dropdown-item no-results"
          disabled
  >
    <a>No results found</a>
  </button>
</div>
