$default-color: #262626;
$background-color: #D9D9D9;
$secondary-color: #808080;
$hover-color: #EDEDED;
$light-grey: #D9D9D9;

* { box-sizing:border-box; }

input::selection{ background-color:transparent }

.biit-input {
  display: flex;
  min-width: 12.8rem;

  &.compact {
    width: 12.8rem;
  }
}

.input-container {
  position:relative;
  width: 100%;
}

.input-object {
  background-color: white;
  font-size:1rem;
  display:block;
  border:none;
  color: $default-color;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  height: 2.1rem;
  width: 100%;
  min-width: 2.1rem;
  font-weight: normal;
  cursor: pointer;

  &:focus, &:active, &:hover {
    outline: none;
    background: $background-color;
  }

  &:disabled {
    pointer-events: none;
    background-color: transparent;
    color: $light-grey;
  }
}

.default-cursor {
  cursor: auto;
}

.input-placeholder {
  color:$default-color;
  font-size:1rem;
  font-weight:bolder;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  left:0.7rem;
  top: 0.42rem;
  height: 0.7rem;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  /* active state */
  &.compact {
    top:-0.95rem;
    font-size: 0.7rem;
    font-weight:normal;
    color:$secondary-color;
  }

  &.disabled {
    color: $light-grey;
  }
}

.input-show-icon {
  width: 1rem;
  height: 1rem;
}

.input-show-icon-container {
  top: 0;
  right: 0;
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform 0.5s ease;

  &:hover, &:focus, &:focus-visible {
    border: none;
    outline: none;
  }

  &:hover ~ .input-object {
    background: $background-color;
  }

  &.rotate-90 {
    transform: rotate(-90deg);
  }
}

.bottom-line {
  position: relative;
  top: -0.175rem;
  margin-bottom: -0.175rem;
  width: auto;
  height: 0.175rem;
  background: #262626;

  &.disabled {
    background: $light-grey;
  }
}

.dropdown-list {
  background: white;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  border: 0.175rem solid black;
  margin-top: -0.175rem;
  min-width: 12.8rem;
  width: inherit;
  cursor: pointer;
  transform-origin: top;
  opacity: 0;
  display: none;
  pointer-events: none;
  transform: translate(0, var(--origin));
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.dropdown-open {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
  }

  &.compact {
    width: 12.8rem;
  }

  &.disabled {
    visibility: hidden;
  }
}

.dropdown-item {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  width: 100%;
  cursor: pointer;
  line-height: 1rem;
  min-height: 1.4rem;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.7rem;

  &:not(.no-results) {
    &:hover, &:focus-visible {
      outline: none;
      background: $hover-color;
      width: calc(100% + 0.3rem);
      margin-left: -0.15rem;
      padding-left: 0.85rem;
    }
  }

  &.no-results {
    justify-content: center;
    padding: 1rem;
    color: #D9D9D9;
  }

  ::ng-deep label {
    width: 100%;
    height: 100%;
    cursor: pointer;

    input[type=checkbox] {
      cursor: pointer;
      pointer-events: none;
    }
  }
}

.passthrough {
  pointer-events: none;
}

.grey-bg {
  background: $background-color;
}

.onwards {
  --origin: 1rem;
}

.downwards {
  --origin: -1rem;
}
