<div class="notification-canvas" id="biit-notification"
     [class.regular]="notification?.type == 'INFO' ||
                      notification?.type == 'SUCCESS'"
  [class.error]="notification?.type == 'ERROR'"
  [class.warning]="notification?.type == 'WARNING'"
  (click)="emitClick(notification?.actionLabel == undefined)">
  @if (notification?.type !== 'INFO') {
    <biit-icon
             [name]="notification?.type == 'WARNING' ? 'exclamation' :
              notification?.type == 'ERROR' ? 'cross' : 'thick'"
      [pathStyle]="{fill: '#EDEDED'}"
      class="notification-icon"
    ></biit-icon>
  }
  <a id="message">
    {{ notification?.message }}
  </a>
  @if (notification?.actionLabel) {
    <button biit-button #action
      (click)="emitClick(true)"
      color="tertiary"
      >
      {{ notification.actionLabel }}
    </button>
  }
</div><br>
