$idle: #808080;
$error: #A1093F;
$active: #262626;

.tab-group {
  width: inherit;
  height: inherit;
  max-height: 100%;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;

  > .tab-header {
    width: 100%;
    height: calc(2rem + 3px);
    min-height: calc(2rem + 3px);
    font-weight: 400;
    font-size: 1rem;
    display: flex;

    > .tab-selector {
      display: inline-flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      padding: 0 1rem 0 1rem;
      border-bottom: 3px solid transparent;

      &.compact-mode {
        &.active {
          min-width: 20%;
        }

        &:not(.active) {
          a {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &.error {
        color: $error;
      }

      &.active {
        flex-shrink: 0;
        &.error {
          color: $error;
          border-bottom: 3px solid $error;
        }
        &:not(.error) {
          color: $active;
          border-bottom: 3px solid $active;
        }
      }

      &:not(.active) {
        color: $idle;
        flex-basis: 50%;
        flex-wrap: wrap;
        min-width: 0;

        &.error {
          color: $error;
        }

        &:hover {
          &:not(.error) {
            border-bottom: 3px solid $idle;
            color: $idle;
          }

          &.error {
            border-bottom: 3px solid $error;
            color: $error;
          }
        }
      }
    }
  }

  > .content {
    padding: 1.5rem;
    overflow-y: scroll;
    flex-grow: 1;
  }
}
