$default-color: var(--component-color);
$active-color: var(--main-color);
$bar-color: var(--light-background);

.slider-vertical {
  position: relative;
  flex: 1;
  width: inherit;
  height: inherit;
  display: flex;

  input[type=range] {
    font-size: 1em;
    appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: $bar-color;

    height: inherit;
    width: 0.3em;
    writing-mode: vertical-lr;
    direction: rtl;

    &.inverted {
      direction: ltr;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    box-sizing: border-box;
    height: 0.9em;
    width: 0.9em;
    background-color: $bar-color;
    border: 0.3em solid $default-color;
    transition: .2s ease-in-out;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: $active-color;
  }

  input[type="range"]:active::-webkit-slider-thumb {
    background-color: $active-color;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    background-color: $active-color;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    box-sizing: border-box;
    height: 0.9em;
    width: 0.9em;
    background-color: $bar-color;
    border: 0.3em solid $default-color;
    border-radius: 0;
    transition: .2s ease-in-out;
  }

  input[type="range"]::-moz-range-thumb:hover {
    background-color: $active-color;
  }

  input[type="range"]:active::-moz-range-thumb {
    background-color: $active-color;
  }

  input[type="range"]:focus::-moz-range-thumb {
    background-color: $active-color;
  }
}

.slider-vertical .ticks {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 3px;
  margin-top: 5px;
  position: relative;

  .tick {
    display: flex;
    flex: 3.5;
    align-items: center;
    padding-left: 5px;
    gap: 3px;

    &:nth-child(2) {
      align-items: end;
      flex: 2;
    }

    &:last-child {
      align-items: start;
      flex: 2;
    }

    &.hide-tick {
      display: none;
    }

    .label {
      display: flex;
      font-weight: 500;
      flex: 1;
      cursor: pointer;
      gap: 0.5em;

      &.show-desc {
        flex-direction: column;
      }

      span {
        line-height: 120%;
      }

      .description {
        font-size: 0.75em;
        color: var(--secondary-color);
        line-height: 120%;
        font-style: italic;
        font-weight: 400;
      }
    }
  }

  .tick > span {
    display: flex;
    justify-content: center;
    width: 14px;
    height: 16px;
    padding: 7px 2px;
    background-color: $default-color;
    font-weight: 500;
    box-sizing: border-box;
    background-clip: content-box;
    font-size: 1em;

    > span {
      position: absolute;
      top: 1rem;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 5px;

      > span {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
      }

      biit-tooltip-icon {
        margin: 3px;
      }
    }

    &:nth-child(2) > span {
      left: 0;
      text-align: left;
      justify-content: start;
    }

    &:last-child > span {
      right: 0;
      text-align: right;
      justify-content: end;
    }
  }

  &.vertical {
    flex-direction: column-reverse;
    flex: 1;
    height: inherit;
    margin: 2px;
    padding: 0;

    > span {
      width: 20px;
      height: 14px;
      padding: 6px 6px 6px 6px;
    }
  }
}

.slider-vertical .tooltip-slider {
  position: absolute;
  bottom: 4.7em;
  transition: opacity .2s ease-in-out;
  pointer-events: none;

  ::ng-deep span {
    font-size: 1em;
    background: white;
    padding: 0.1em 0.2em;
    border: 1px solid $default-color;
    display: block;
    position: relative;
    min-width: max-content;
  }
}
