$default-color: var(--component-color);
$active-color: var(--main-color);
$bar-color: var(--light-background);

.slider {
  position: relative;
  flex: 1;
}

input[type=range] {
  font-size: 1em;
  appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 0.3em;
  background: $bar-color;
  pointer-events: none;
  margin-left: 0;

  &:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0.45em;
    background: transparent;

    &::-webkit-slider-thumb {
      margin-top: 0.2em;
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  box-sizing: border-box;
  height: 0.9em;
  width: 0.9em;
  background-color: $bar-color;
  border: 0.3em solid $default-color;
  transition: .2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: $active-color;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: $active-color;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: $active-color;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  appearance: none;
  box-sizing: border-box;
  height: 0.9em;
  width: 0.9em;
  background-color: $bar-color;
  border: 0.3em solid $default-color;
  border-radius: 0;
  transition: .2s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: $active-color;
}

input[type="range"]:active::-moz-range-thumb {
  background-color: $active-color;
}

input[type="range"]:focus::-moz-range-thumb {
  background-color: $active-color;
}

.ticks {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25em;

  span {
    display: flex;
    justify-content: center;
    width: 0.75em;
    height: 1.85em;
    padding: 0 0.3em 1.3em 0.3em;
    background-color: var(--component-color);
    line-height: 2.4em;
    white-space: nowrap;
    font-weight: 500;
    box-sizing: border-box;
    background-clip: content-box;
    font-size: 1em;

    &.no-labels {
      height: 0.85em;
      padding-bottom: 0.3em;
    }
  }
}

.tooltip {
  position: absolute;
  top: -30%;
  transition: opacity .2s ease-in-out;
  pointer-events: none;

  span {
    font-size: 1em;
    background: white;
    padding: 0.2em;
    border: 0.05em solid var(--component-color);
    height: 0.7em;
    display: block;
    line-height: 0.7em;
    position: relative;
    left: -15%;
  }
}
