$default-color: var(--component-color);
$trail-color: var(--trail-color);
$trail-selected-color: var(--selected-color);
$box-selected-color: var(--main-color);
$disabled-color: var(--main-background);

$_2px: 0.1em;
$_5px: 0.25em;
$_14px: 0.7em;
$_28px: 1.4em;

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  font-size: inherit;
}

.toggle-base {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  min-height: 1.2em;
  cursor: pointer;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &:hover .toggle-box{
    transform: rotate(15deg) translate($_2px);
    border: $_5px solid $box-selected-color;
  }

  &:has(input:checked) {

    .toggle-trail {
      background: $trail-selected-color;
    }

    .toggle-box {
      transform: translate($_14px, 0) rotate(45deg);
      border: $_5px solid $box-selected-color;
      background: $box-selected-color;
    }
  }

  &:has(input:disabled) {
    pointer-events: none;
    cursor: default;

    .toggle-trail {
      background: $trail-color;
    }

    .toggle-box {
      border: $_5px solid $disabled-color;
      background: none;
    }

    .toggle-label {
      color: $disabled-color;
    }

    &:has(input:checked) {

      .toggle-box {
        background: $disabled-color;
      }
    }
  }
}

.toggle-switch {
  display: flex;
  align-items: center;
  position: relative;
  height: 1.2em;
}

.toggle-trail {
  display: inline-flex;
  width: $_28px;
  height: $_5px;
  background: $trail-color;
  z-index: 0;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.toggle-box {
  position: absolute;
  display: inline-flex;
  height: $_14px;
  width: $_14px;
  border: $_5px solid $default-color;
  box-sizing: border-box;
  z-index: 1;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.toggle-label {
  margin-left: $_14px;
  cursor: inherit;
  line-height: 1.2em;
  user-select: none;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &:empty {
    display: none;
  }
}

// Fix for Firefox browser (not compatible with :has as May 2023)
@-moz-document url-prefix() {
  input:checked ~ .toggle-switch {
    .toggle-trail {
      background: $trail-selected-color;
    }

    .toggle-box {
      transform: translate($_14px, 0) rotate(45deg) !important;
      border: $_5px solid $box-selected-color;
      background: $box-selected-color;
    }
  }

  input:disabled ~ .toggle-switch {
    pointer-events: none;
    cursor: default;

    .toggle-trail {
      background: $trail-color;
    }

    .toggle-box {
      border: $_5px solid $disabled-color;
      background: none;
    }

    .toggle-label {
      color: $disabled-color;
    }
  }

  input:checked:disabled ~ .toggle-switch {
    .toggle-box {
      background: $disabled-color;
    }
  }
}
