$default-color: var(--component-color);
$main-background: var(--main-background);

.page-selector {
  display: flex;
  position: relative;
  align-items: center;

  button[biit-icon] {

    &.horizontal-flip {
      rotate: -180deg;
    }

    &.compact ::ng-deep .icon-button-svg {
      width: 10px;
    }
  }

  .page-display {
    position: relative;
    display: flex;
    align-items: baseline;
    padding: 6px 14px;
    gap: 14px;
    line-height: 100%;
    font-weight: 700;
    border-bottom: 3px $default-color solid;

    &:hover {
      background: $main-background;
    }

    &:has(input:focus-visible) {
      background: $main-background;
    }

    input {
      all: unset;
      min-width: 14px;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    span {
      pointer-events: none;
    }
  }
}
