$hover-color: #D9D9D9;
$active-color: #EDEDED;
$disabled-color: #EDEDED;

.navbar-menu-canvas {
  height: 2.5rem;
  display: flex;
  background: white;

  .item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    user-select: none;
    cursor: pointer;

    &:active, &.active, &.open {
      background: $active-color;
    }

    &:hover, &.hover {
      background: $hover-color;
    }
  }
}

.disabled {
  color: $disabled-color;
  pointer-events: none;
}
