$hover-color: #D9D9D9;
$active-color: #EDEDED;
$disabled-color: #EDEDED;

.navbar-menu-canvas {
  height: 2.5rem;
  display: flex;
  background: white;

  .item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    user-select: none;
    cursor: pointer;

    .submenu {
      display: none;
      position: fixed;
      top: 2.7rem;
      left: 0;
      height: 2.5rem;
      width: 100%;
      background: white;
      box-sizing: border-box;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      &::before {
        position: absolute;
        height: 0.2rem;
        width: 100%;
        top: -0.2rem;
        left: 0;
        content: "";
      }
    }

    &:hover {
      background: $hover-color;

      .submenu {
        display: flex;
      }
    }

    &:active, &.active {
      background: $active-color;
    }
  }
}

.disabled {
  color: $disabled-color;
  pointer-events: none;
}
