<div class="navbar-menu-canvas" id="nav-menu">
  <div class="item" #navItem
       *ngFor="let route of routes"
       [attr.id]="'nav-item-' + route.path"
       [routerLink]="route.children ? null : [route.path]"
       [routerLinkActive]="['active']"
       [class.active]="router.url.includes('/'+route.path)"
       [class.hover]="route == hovered && contextMenuService.hasOpenMenu()"
       [class.disabled]="route.data?.['disabled']"
       [style.display]="route.data?.['hidden'] ? 'none' : 'inline-flex'"
       (click)="route.children ? onContextMenu(route, navItem) : null; log(hovered == route); "
  >
    {{ route.title }}

    <context-menu #navbarMenu>
      <ng-template contextMenuItem
                   *ngFor="let item of contextMenuItems"
                   [attr.id]="'item-' + item"
                   [disabled]="item.disabled"
                   [visible]="item.visible"
                   (execute)="router.navigate([item.parent, item.path])"
      >
        <div [class.active]="router.url.includes('/'+item.parent+'/'+item.path)">
          {{ item.title }}
        </div>
      </ng-template>
    </context-menu>
  </div>
</div>



