<div class="canvas">
  <div class="header">
    <div class="buttons">
      <ng-content></ng-content>
    </div>
    <div class="forms">
      <biit-input-text [ngModel]="search"
                       (onActionPerformed)="
                         search = $event;
                         paginator.currentPage = 1;
                         onTableUpdate();
                       "
                       (focusout)="resetInputValue($event, search)"
                       icon="search"
                       placeholder="{{'table.search' | transloco}}"
      ></biit-input-text>
      <biit-multiselect [ngModel]="columns | visibleColumns"
                        (ngModelChange)="setColumnVisibility($event)"
                        [data]="columns"
                        label="label"
                        value="visible"
                        title="{{'table.column-selector' | transloco}}"
                        [type]="BiitMultiselectType.ICON"
                        [compact]="true"
      ></biit-multiselect>
    </div>
  </div>

  <div class="content">
    <div *ngIf="loading" style="position: relative">
      <biit-progress-bar style="position: absolute; top: 2.1rem; left: 0.2rem; width: calc(100% - 0.1rem);"></biit-progress-bar>
    </div>
    <table>
      <thead>
        <tr>
          <th *ngIf="isSelectable" class="select">
            <biit-checkbox [ngModel]="data?.data.length && selectedRows.size == data?.data.length"
                           (ngModelChange)="$event ? data?.data.forEach(selectedRows.add, selectedRows) : selectedRows.clear()"
            ></biit-checkbox>
          </th>
          <th *ngFor="let column of columns, index as i"
              [class.sortable]="isSortable"
              [style.display]="!column.visible ? 'none' : null"
              [style.width]="column.width ? column.width + 'px' : ''"
              (click)="onTableSort(column)"
          >
            <div class="label">
              {{column.label}}
            </div>
            <biit-icon *ngIf="isSortable"
                       [name]="sorting?.name == column.name ? 'right_arrow' : 'up_down_arrow'"
                       [pathStyle]="{fill: '#FFFFFF'}"
                       class="sort"
                       [class.asc]="sorting?.name == column.name && sorting?.order == 'asc'"
                       [class.desc]="sorting?.name == column.name && sorting?.order == 'desc'"
            ></biit-icon>
            <div class="column-resizer"
                 (mousedown)="resizeColumn($event, column, i)"
                 (click)="$event.preventDefault();
                          $event.stopPropagation();
                          $event.stopImmediatePropagation();"
            ></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data?.data; index as i"
            [class.selectable]="isSelectable"
            [class.selected]="selectedRows.has(item)"
        >
            <td *ngIf="isSelectable" class="select">
              <biit-checkbox id="select{{i}}"
                             [ngModel]="selectedRows.has(item)"
                             (ngModelChange)="$event ? selectedRows.add(item) : selectedRows.delete(item)"
              ></biit-checkbox>
            </td>
            <td *ngFor="let column of columns"
                (pointerdown)="selectRow(item, $event.ctrlKey)"
                [style.display]="!column.visible ? 'none' : null"
                [style.width]="column.width ? column.width + 'px' : null"
            >
              <div *ngIf="column.format == BiitTableColumnFormat.DEFAULT">
                {{item[column.name]}}
              </div>
              <div *ngIf="column.format == BiitTableColumnFormat.BOOLEAN">
                {{item[column.name] ? ('table.yes' | transloco) : ('table.no' | transloco) }}
              </div>
              <div *ngIf="column.format == BiitTableColumnFormat.DATE">
                {{item[column.name] | localizedDate}}
              </div>
              <div *ngIf="column.format == BiitTableColumnFormat.BUTTON"
                   style="width: auto; text-align: -webkit-center; text-align: -moz-center;">
                <button biit-button tertiary
                        (pointerdown)="emitCellAction(item, column.name, $event)">
                  {{item[column.name]}}
                </button>
              </div>
              <div *ngIf="column.format == BiitTableColumnFormat.ICON_BUTTON"
                   style="width: auto; text-align: -webkit-center; text-align: -moz-center;">
                <button biit-icon [icon]="item[column.name]"
                        (pointerdown)="emitCellAction(item, column.name, $event);"></button>
              </div>
              <div *ngIf="column.format == BiitTableColumnFormat.ICON"
                   style="width: auto; height: 1.05rem;">
                <biit-icon [name]="item[column.name]"></biit-icon>
              </div>
              <div *ngIf="column.format == BiitTableColumnFormat.CUSTOM_HTML"
                   style="width: auto; text-align: -webkit-center; text-align: -moz-center;">
                <div [innerHTML]="item[column.name]"></div>
              </div>
            </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="footer">
    <div class="selected">
      <a style="margin-right: 0.7rem" *ngIf="selectedRows.size">Selected:</a>
      <a *ngIf="selectedRows.size">{{selectedRows.size}}</a>
    </div>
    <biit-paginator *ngIf="paginator"
      [ngModel]="paginator" (ngModelChange)="paginator = $event; onTableUpdate()"></biit-paginator>
  </div>
</div>
