$text-color: #262626;
$hover-color: #EDEDED;
$background-color: #D9D9D9;

.canvas {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 1.05rem;

  > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
      display: flex;
      flex-direction: row;
    }

    > .buttons ::ng-deep > * {
      height: 2.1rem;
      min-width: 2.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > .forms {
      column-gap: 0.7rem;

      ::ng-deep biit-input-text .biit-input {
        min-height: 0;
        padding-top: 0;
      }
    }
  }

  > .content {
    overflow: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;

    * {
      box-sizing: border-box;
    }

    > table {
      width: 100%;
      height: fit-content;
      margin-top: -0.2rem;
      table-layout: fixed;
      border-spacing: 0.2rem;

      thead {
        text-transform: uppercase;
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;

        th {
          position: relative;
          height: 2.1rem;
          color: white;
          font-weight: 500;
          background: $text-color;
          padding: 0.4rem 2.4rem;
          text-align: center;
          text-align: -moz-center;
          text-align: -webkit-center;
          cursor: default;

          &.select {
            width: 2.1rem;
            padding: 0.3rem 0.7rem;
            background: white;
          }

          &.sortable {
            cursor: pointer;
            user-select: none;
          }

          > .column-resizer {
            position: absolute;
            right: -0.2rem;
            top: 0;
            height: 100%;
            width: 0.6rem;
            cursor: col-resize;
          }

          > .label {
            width: fit-content;
          }

          > .sort {
            position: absolute;
            width: 0.7rem;
            height: 0.7rem;
            top: calc(50% - 0.35rem);
            right: 0.7rem;
            pointer-events: none;

            &.asc {
              rotate: -90deg;
            }

            &.desc {
              rotate: 90deg;
            }
          }
        }
      }

      tbody {
        tr {
          cursor: default;

          &.selected {
            background: $background-color;
          }

          &:hover {
            background: $hover-color;

            &.selectable {
              cursor:pointer;
            }
          }

          > td {
            height: 2.1rem;
            border-bottom: 0.2rem solid $text-color;
            padding: 0.3rem 0.7rem;
            overflow: hidden;

            &.select {
              width: 2.1rem;
              padding: 0.3rem 0.7rem;
            }
          }
        }
      }
    }
  }

  > .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > biit-paginator {
      width: 50%;
      display: block;
    }
  }
}
