<div class="canvas">
  <div class="header">
    <div class="buttons">
      <button biit-icon icon="plus"
                        (click)="onAddAction.emit()"
      ></button>
      <button biit-icon icon="minus"
                        (click)="onDeleteAction.emit(getSelectedRows())"
                        [disabled]="!selectedRows.size"
      ></button>
      <button biit-icon icon="edit"
                        (click)="onEditAction.emit(getSelectedRows())"
                        [disabled]="selectedRows.size !== 1"
      ></button>
    </div>
    <div class="forms">
      <biit-input-text [ngModel]="search"
                       (onActionPerformed)="
                         search = $event;
                         this.paginator.currentPage = 1;
                         onTableUpdate();
                       "
                       (focusout)="resetInputValue($event, search)"
                       icon="search"
                       placeholder="{{'table.search' | transloco}}"
      ></biit-input-text>
      <biit-multiselect [ngModel]="columns | visibleColumns"
                        (ngModelChange)="setColumnVisibility($event)"
                        [data]="columns"
                        label="label"
                        value="visible"
                        title="{{'table.column-selector' | transloco}}"
                        [type]="BiitMultiselectType.ICON"
                        [compact]="true"
      ></biit-multiselect>
    </div>
  </div>

  <div class="content">
    <div *ngIf="loading" style="position: relative">
      <biit-progress-bar style="position: absolute; top: 2.1rem; left: 0.2rem; width: calc(100% - 0.1rem);"></biit-progress-bar>
    </div>
    <table>
      <thead>
        <tr>
          <th *ngIf="isSelectable" class="select">
            <biit-checkbox [ngModel]="data?.data.length && selectedRows.size == data?.data.length"
                           (ngModelChange)="$event ? data?.data.forEach(selectedRows.add, selectedRows) : selectedRows.clear()"
            ></biit-checkbox>
          </th>
          <th *ngFor="let column of columns, index as i"
              [class.sortable]="isSortable"
              [style.display]="!column.visible ? 'none' : null"
              [style.width]="column.width ? column.width + 'px' : ''"
              (click)="onTableSort(column)"
          >
            <div class="label">
              {{column.label}}
            </div>
            <biit-icon *ngIf="isSortable"
                       [name]="sorting?.name == column.name ? 'right_arrow' : 'up_down_arrow'"
                       [pathStyle]="{fill: '#FFFFFF'}"
                       class="sort"
                       [class.asc]="sorting?.name == column.name && sorting?.order == 'asc'"
                       [class.desc]="sorting?.name == column.name && sorting?.order == 'desc'"
            ></biit-icon>
            <div class="column-resizer"
                 (mousedown)="resizeColumn($event, column, i)"
                 (click)="$event.preventDefault();
                          $event.stopPropagation();
                          $event.stopImmediatePropagation();"
            ></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data?.data; index as i"
            [class.selectable]="isSelectable"
            [class.selected]="selectedRows.has(item)"
        >
            <td *ngIf="isSelectable" class="select">
              <biit-checkbox id="select{{i}}"
                             [ngModel]="selectedRows.has(item)"
                             (ngModelChange)="$event ? selectedRows.add(item) : selectedRows.delete(item)"
              ></biit-checkbox>
            </td>
            <td *ngFor="let column of columns"
                (pointerdown)="selectRow(item, $event.ctrlKey)"
                [style.display]="!column.visible ? 'none' : null"
                [style.width]="column.width ? column.width + 'px' : null"
            >
              <div *ngIf="column.format == 'default'">
                {{item[column.name]}}
              </div>
              <div *ngIf="column.format == 'boolean'">
                {{item[column.name] ? 'Yes' : 'No'}}
              </div>
              <div *ngIf="column.format == 'date'">
                {{item[column.name] | localizedDate}}
              </div>
            </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="footer">
    <div class="selected">
      <a style="margin-right: 0.7rem" *ngIf="selectedRows.size">Selected:</a>
      <a *ngIf="selectedRows.size">{{selectedRows.size}}</a>
    </div>
    <biit-paginator *ngIf="paginator"
      [ngModel]="paginator" (ngModelChange)="paginator = $event; onTableUpdate()"></biit-paginator>
  </div>
</div>
