<div id="chart">
  <div class="box shadow">
    <apx-chart
      [series]="lineChartOptions.series"
      [colors]="lineChartOptions.colors"
      [chart]="lineChartOptions.chart"
      [dataLabels]="lineChartOptions.labels"
      [plotOptions]="lineChartOptions.plotOptions"
      [xaxis]="lineChartOptions.xaxis"
      [yaxis]="lineChartOptions.yaxis"
      [title]="lineChartOptions.title"
      [fill]="lineChartOptions.fill"
      [stroke]="lineChartOptions.stroke"
      [markers]="lineChartOptions.markers"
    ></apx-chart>
  </div>
</div>
