<ng-container>
  <div id="snackbar-canvas"
    class="snackbar-canvas {{snackbarService.verticalPosition}} {{snackbarService.horizontalPosition}}">
    @for (notification of this.notifications; track notification) {
      <div @notificationList
        class="snackbar-element"
        [attr.id]="'snackbar-element-' + notification.type"
        >
        <biit-notification [notification]="notification" style="display: inline-flex;"></biit-notification>
      </div>
    }
  </div>
</ng-container>
