biit-meta-board {
  display: block;
  width: 100%;
  height: 100%;
}
.meta-view-chart-board{
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 100%;
  & > :not(:nth-child(2)) {
    flex: 0;
  }
  & > :nth-child(2) {
    flex: 1;
  }
}
.meta-view-filter-place {
  min-width: 15ch;
}
