biit-meta-board {
  display: block;
  width: 100%;
  height: 100%;
}
.meta-view-chart-board{
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 100%;
  & > :not(:nth-child(2)) {
    flex: 0 1 auto;
  }
  & > :nth-child(2) {
    flex: 1;
  }
}
.meta-view-column {
  min-width: 15ch;
  width: 15ch;
  flex: 0 1 auto;
  resize: horizontal;
  overflow: auto;
  border: 2px solid #EDEDED;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
