$default-color: #262626;
$background-color: #D9D9D9;
$active-color: #F20D5E;

:host {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.125em;
  width: 2.125em;

  &:hover, &:focus-visible, &:has(.checked) {
    background-color: $background-color;
  }

  &:active {
    ::ng-deep biit-icon path {
      fill: $active-color !important;
    }
  }

  &:disabled {
    pointer-events: none;

    &:hover, &:focus-visible {
      background-color: white;
    }

    ::ng-deep biit-icon path {
      fill: $background-color !important;
    }
  }

  &:has(.checked) ::ng-deep biit-icon path {
    fill: $active-color !important;
  }
}

.icon-button-svg {
  display: inline-flex;
  pointer-events: none;
  width: 1.05em;
  height: 1.05em;
}
