<div class="biit-input" [class.disabled]="disabled" [class.readonly]="readonly">
  <div class="input-container">
    @if (info) {
      <biit-tooltip-icon
        class="tooltip-icon"
      [text]="info"></biit-tooltip-icon>
    }
    <textarea
      class="input-object" required
      [(ngModel)]="value"
      (ngModelChange)="this.onChange($event);"
      (keydown.enter)="onActionPerformed.emit(value)"
      [attr.name]="fieldName"
      [attr.maxlength]="maxLength"
      [class.error]="error"
      [class.reveal]="reveal"
      [style.resize]="resize"
    ></textarea>
    <div class="input-placeholder">
      {{ placeholder }}
      @if (required) {
        <a
        [style.color]="value ? null : 'red'">*</a>
      }
    </div>
    @if (error) {
      <biit-icon id="exclamation" name="exclamation" class="input-error-icon"
      [pathStyle]="{fill:'#A1093F'}"></biit-icon>
    }
    @if (error) {
      <div class="input-error-msg" id="error-message">
        <a id="message">
          {{ error }}
        </a>
      </div>
    }
    @if (description) {
      <span id="description" class="input-description">
        {{ description }}
      </span>
    }
  </div>
</div>
