$default-color: #262626;
$active-color: #F20D5E;
$bar-color: #D7D7D7;

.slider-option {
  position: relative;
  flex: 1;

  input[type=range] {
    font-size: 1em;
    appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    height: 0.3em;
    background: $bar-color;
    margin-left: 0;

    &.inverted {
      direction: rtl;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    box-sizing: border-box;
    height: 0.9em;
    width: 0.9em;
    background-color: $bar-color;
    border: 0.3em solid $default-color;
    transition: .2s ease-in-out;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: $active-color;
  }
  input[type="range"]:active::-webkit-slider-thumb {
    background-color: $active-color;
  }
  input[type="range"]:focus::-webkit-slider-thumb {
    background-color: $active-color;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    box-sizing: border-box;
    height: 0.9em;
    width: 0.9em;
    background-color: $bar-color;
    border: 0.3em solid $default-color;
    border-radius: 0;
    transition: .2s ease-in-out;
  }

  input[type="range"]::-moz-range-thumb:hover {
    background-color: $active-color;
  }
  input[type="range"]:active::-moz-range-thumb {
    background-color: $active-color;
  }
  input[type="range"]:focus::-moz-range-thumb {
    background-color: $active-color;
  }
}

.slider-option .ticks {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;

  > span {
    display: flex;
    justify-content: center;
    width: 14px;
    height: 3.3em;
    padding: 0 6px 2.7em;
    background-color: #262626;
    font-weight: 500;
    box-sizing: border-box;
    background-clip: content-box;
    cursor: pointer;
    font-size: 1em;

    &.hide-tick {
      display: none;
    }

    > span {
      position: absolute;
      width: var(--label-percent);
      top: 1rem;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 5px;

      > span {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      biit-tooltip-icon {
        margin: 3px;
      }
    }

    &:nth-child(2) > span {
      left: 0;
      text-align: left;
      justify-content: start;
    }
    &:last-child > span {
      right: 0;
      text-align: right;
      justify-content: end;
    }
  }
}

.slider-option .tooltip-slider {
  position: absolute;
  bottom: 4.7em;
  transition: opacity .2s ease-in-out;
  pointer-events: none;

  ::ng-deep span {
    font-size: 1em;
    background: white;
    padding: 0.1em 0.2em;
    border: 1px solid #262626;
    display: block;
    position: relative;
    min-width: max-content;
  }
}
