<div class="slider">
  <input #ranger type="range"
         [ngModel]="index"
         (ngModelChange)="onChange(this.data[ranger.value]);"
         [min]="0"
         [max]="data.length - 1"
         [step]="1"
         (input)="progressScript()"
         (pointerdown)="showTooltip = true"
         (pointerup)="showTooltip = false"
  >

  <div class="ticks">
    <div #tooltip class="tooltip-slider" [style.opacity]="showTooltip ? '100%' : '0%'"></div>
    <span *ngFor="let tick of $any(data); index as i"
          [class.no-labels]="!data.length"
          (click)="value = data[i]; onChange(data[i])">
      <span>
        <span>
          {{data[i].value}}
        </span>
        <biit-tooltip-icon *ngIf="data[i].description"
                           [text]="data[i].description"
        ></biit-tooltip-icon>
      </span>
    </span>
  </div>
</div>
