<div class="table-canvas" *transloco="let t">
  <div class="top">
    <div class="action-bar">
      <ng-content></ng-content>
    </div>
    <div class="options">
      <biit-input-text #searchInput
                       [ngModel]="search"
                       (onActionPerformed)="
                         onFilter($event);
                       "
                       (focusout)="searchInput.value = search"
                       icon="search"
                       [placeholder]="t('t.search')"
      ></biit-input-text>
      <biit-multiselect [ngModel]="_columns"
                        (ngModelChange)="setColumnVisibility($event)"
                        [data]="allColumns"
                        label="name"
                        value="visible"
                        [type]="BiitMultiselectType.ICON"
                        [title]="t('t.column-selector')"
                        [compact]="true"
      ></biit-multiselect>
    </div>
  </div>
  <div class="table">
    <biit-progress-bar *ngIf="loading"></biit-progress-bar>
    <ngx-datatable #table
                   [rows]="data"
                   [columns]="_columns"
                   [columnMode]="'force'"
                   [headerHeight]="42"
                   [footerHeight]="42"
                   [rowHeight]="42"
                   [reorderable]="false"
                   [selectionType]="SelectionType.checkbox"
                   [selected]="selected"
                   (select)="onSelect($event)"
                   (activate)="onActivate($event)"
                   [virtualization]="false"
                   [scrollbarVDynamic]="true"
                   [limit]="pageSize"
                   [scrollbarH]="scrollbarH"
    >
      <ngx-datatable-column *ngIf="selectable"
                            #chkbox
                            [width]="42"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [name]="'chkbox'"
      >
        <ng-template
          ngx-datatable-header-template
          let-value="value"
          let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn"
        >
          <biit-checkbox [ngModel]="allRowsSelected" (ngModelChange)="selectFn(!allRowsSelected)"></biit-checkbox>
        </ng-template>
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
          <biit-checkbox [ngModel]="isSelected" (ngModelChange)="onCheckboxChangeFn($event)"></biit-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngFor="let column of _columns"
                            [name]="column.name"
                            [prop]="column.prop"
                            [checkboxable]="column.checkboxable"
                            [frozenLeft]="column.frozenLeft"
                            [frozenRight]="column.frozenRight"
                            [flexGrow]="column.flexGrow"
                            [minWidth]="column.minWidth"
                            [maxWidth]="column.maxWidth"
                            [width]="column.width"
                            [resizeable]="column.resizeable"
                            [comparator]="column.comparator"
                            [pipe]="column.pipe"
                            [sortable]="column.sortable"
                            [draggable]="column.draggable"
                            [canAutoResize]="column.canAutoResize"
                            [cellTemplate]="column.cellTemplate"
                            [ghostCellTemplate]="column.ghostCellTemplate"
                            [treeToggleTemplate]="column.treeToggleTemplate"
                            [cellClass]="column.cellClass"
                            [headerTemplate]="column.headerTemplate"
                            [headerClass]="column.headerClass"
                            [headerCheckboxable]="column.headerCheckboxable"
                            [isTreeColumn]="column.isTreeColumn"
                            [treeLevelIndent]="column.treeLevelIndent"
                            [summaryFunc]="column.summaryFunc"
                            [summaryTemplate]="column.summaryTemplate"
      ></ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSizeCurrent="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <div class="label">
            <span>{{ t('t.total') }}: {{rowCount}}</span>
            <span *ngIf="selectedCount">&nbsp;&nbsp;|&nbsp;&nbsp;{{ t('t.selected') }}: {{selectedCount}}</span>
          </div>
          <div class="pagination">
            <biit-datatable-pager #pager
                                  [page]="curPage"
                                  [size]="pageSizeCurrent"
                                  [count]="rowCount"
                                  [hidden]="!((rowCount / pageSize) > 1)"
                                  (change)="log($event); table.onFooterPage($event)">
            </biit-datatable-pager>
          </div>
          <div class="page-items">
            <span>{{ t('t.rows-per-page') }}:</span>
            <select [(ngModel)]="pageSize"
                    (ngModelChange)="pager.size = $event">
              <option *ngFor="let size of pageSizeList"
                      [ngValue]="size"
              >
                {{size}}
              </option>
            </select>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
