.table-canvas {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: white;

  .top {
    display: flex;
    flex: 0;
    .action-bar {
      display: flex;
      flex: 1;
    }
    .options {
      display: flex;
      flex: 0;
    }
  }
  .table {
    position: relative;
    flex: 1;
    min-height: 0;
    min-width: 0;

    biit-progress-bar {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 3px;
      top: 42px;
    }

    ::ng-deep ngx-datatable {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      > div {
        height: calc(100% - 42px);
        > div {
          height: 100%;
        }
      }

      datatable-header {
        .datatable-header-inner {
          height: inherit;
          .datatable-header-cell-template-wrap {
            height: 100% !important;
            width: calc(100% - 3px);

            display: flex;
            align-items: center;
            justify-content: center;
            background: #262626;

            span {
              color: #EDEDED;
              font-size: 16px;
              line-height: 100%;
              font-weight: 700;
              text-transform: uppercase;
            }

            .sort-btn {
              position: absolute;
              right: 14px;
            }

            &:has(biit-checkbox) {
              background: white;
            }
          }
        }
      }

      datatable-body {
        height: 100% !important;
        overflow-y: auto !important;

        .empty-row {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        datatable-body-row {
          .datatable-body-cell-label {
            display: flex;
            align-items: center;
            min-height: 42px;
            border-bottom: 3px solid #262626;
            width: calc(100% - 3px);
            padding: 9px 14px;
            line-height: 120%;
            height: 100%;
          }

          &:hover .datatable-body-cell-label {
            background: #EDEDED;
          }

          &.active .datatable-body-cell-label {
            background: #D9D9D9;
          }
        }
      }

      datatable-footer {
        position: absolute;
        bottom: 0;
        background: white;
        z-index: 10;

        .datatable-footer-inner {
          .label {
            flex: 1 0;
          }

          .pagination {
            display: flex;
            margin: auto;
            flex: 3 0;
            justify-content: center;

            biit-datatable-pager {
              flex: none !important;
            }
          }

          .page-items {
            flex: 1 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: none;
              &:focus-visible {
                outline: none;
                background: #D9D9D9;
              }

              height: 34px;
              min-width: 34px;
              padding: 8px 14px;
              text-align: end;
              font-size: 14px;
              font-family: 'Montserrat', serif;
              cursor: pointer;
              background: white;

              &:hover {
                background: #D9D9D9;
              }

              * {
                background: white;
                padding: 5px;
              }
            }
          }
        }
      }

      &:has(datatable-footer) datatable-body {
        height: calc(100% - 48px) !important;
      }
    }
  }
}

::ng-deep ngx-datatable {
  .auto-details-height {
    .datatable-row-wrapper {
      height: unset !important;
      .datatable-row-detail {
        height: unset !important;
      }
    }
  }
}
