$default-color: var(--main-color);
$default-background: var(--main-background);
$dark-grey: var(--disabled-primary-color);
$light-grey: var(--disabled-secondary-color);
$dark-border: var(--component-color);
$font-color: var(--main-font-color);
$over-primary: var(--hover-primary-color);
$secondary-button-color: var(--secondary-button-color);
$secondary-button-background-color: var(--secondary-button-background-color);
$secondary-button-hover-background: var(--secondary-button-hover-background);
$secondary-button-active-background: var(--secondary-button-active-background);
$quaternary-button-color: var(--quaternary-button-color);
$quaternary-button-background-color: var(--quaternary-button-background-color);
$quaternary-button-hover-background: var(--quaternary-button-hover-background);
$quaternary-button-active-background: var(--quaternary-button-active-background);


* {
  box-sizing: border-box;
}

:host {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;

  .button-base {
    font-size: inherit;
    line-height: 1em;
    width: fit-content;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid transparent;
    cursor: pointer;

    &:not(.tertiary) {

      .button-content {
        padding: 0.55em 1.4em;
      }

      &:active .button-content {
        translate: 0.3em 0.3em;
      }

      &.primary {
        color: $font-color;
        background: $default-color;

        &:hover, :focus-visible {
          background: $over-primary;
          border: 3px solid $dark-border;
        }

        &:active {
          background: $over-primary;
          border: 3px solid $dark-border;
        }

        .button-content {
          background: $default-color;
        }
      }

      &.secondary {
        color: $secondary-button-color;
        background: $secondary-button-background-color;
        border: 3px solid $dark-border;

        &:hover .button-content, :focus-visible .button-content {
          background: $secondary-button-hover-background;
        }

        &:active .button-content {
          background: $secondary-button-active-background;
        }
      }

      &.quaternary {
        color: $quaternary-button-color;
        background: $quaternary-button-background-color;
        border: 3px solid $quaternary-button-background-color;

        &:hover {
          border: 3px solid $dark-border;
          .button-content, :focus-visible .button-content {
            background: $quaternary-button-hover-background;
          }
        }

        &:active {
          border: 3px solid $dark-border;
          .button-content {
            background: $quaternary-button-active-background;
          }
        }

        .button-content {
          background: $quaternary-button-background-color;
        }
      }
    }

    &.tertiary {
      color: $default-color;
      border: 0;

      &:hover .bar, :focus-visible .bar {
        top: 0.15em;
      }

      &:active .bar {
        top: 0;
      }
    }
  }

  &:focus-visible {
    &:not(.disabled) {
      .primary {
        background: transparent;
        border: 3px solid $dark-border;
      }

      .secondary .button-content {
        background: $light-grey;
      }

      .tertiary .bar {
        top: 0.15em;
      }

      .quaternary .button-content {
        background: $quaternary-button-background-color;
        border: 3px solid $dark-border;
      }
    }
  }

  &:disabled {
    pointer-events: none;

    .primary {
      border: 3px solid $light-grey;

      .button-content {
        background: $light-grey !important;
        color: $dark-grey;
      }
    }

    .secondary {
      border: 3px solid $light-grey !important;
      color: $light-grey;
    }

    .tertiary {
      color: $light-grey;

      .bar {
        background: $light-grey;
      }
    }

    .quaternary {
      border: 3px solid $light-grey;

      .button-content {
        background: $light-grey !important;
        color: $dark-grey;
      }
    }
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.button-content {
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.bar {
  width: 100%;
  height: 0.15em;
  background: $default-color;
  position: relative;
  margin: 0 auto;
}
