:root {
  --main-color: #F20D5E;
  --main-background: #D9D9D9;
  --floating-background: white;
  --main-font-color: white;
  --disabled-primary-color: #808080;
  --disabled-secondary-color: var(--main-color);
  --border-color: #262626;
}
