:root {
  --main-color: #F20D5E;
  --popup-background-color: rgba(0, 0, 0, 0.15);
  --main-background: #D9D9D9;
  --body-background: #EDEDED;
  --light-background: #D7D7D7;
  --error-color: #A1093F;
  --warning-color: var(--main-color);
  --floating-background: white;
  --main-font-color: white;
  --secondary-color: #808080;
  --secondary-text-color: #EDEDED;
  --secondary-background-color: #808080;
  --disabled-primary-color: #808080;
  --disabled-secondary-color: var(--main-color);
  --component-color: #262626;
  --active-color: var(--component-color);
  --hover-color: #EDEDED;
  --hover-primary-color: var(--main-color);
  --secondary-button-color: var(--component-color);
  --secondary-button-background-color: var(--main-font-color);
  --secondary-button-hover-background: var(--main-background);
  --secondary-button-active-background: var(--main-background);
  --quaternary-button-color: var(--main-font-color);
  --quaternary-button-background-color: var(--error-color);
  --quaternary-button-hover-background: var(--main-color);
  --quaternary-button-active-background: var(--main-color);
  --text-hover-color: #5A6473;
  --selected-color: #FBAEC9;
  --chart-background: #FFFFFF;
  --chart-component-color: var(--component-color);
  --icon-color: var(--main-color);
  --table-header-color: var(--component-color);
  --table-header-text: var(--main-background);
  --table-background-color: var(--chart-background);
  --table-hover-background-color: var(--chart-background);
  --table-border-color: var(--table-header-color);
  --table-selected-row-color: var(--main-background);
  --table-text-color: var(--secondary-text-color);
  --table-active-row-backgorund-color: var(--main-background);
  --scrollbar-color: var(--main-color);
  --menu-button-active: var(--main-color);
  --disabled-menu-color: #D9D9D9;
  --disabled-menu-color-hover: #FFFFFF;
  --nav-menu-hover-color: #70757e;
  --nav-menu-text-hover-color: var(--text-hover-color);
  --nav-menu-active-background: var(--hover-color);
  --nav-menu-disable-font: var(--hover-color);
  --nav-menu-separator-color: var(--secondary-color);
  --nav-menu-font-color: var(--nav-menu-hover-color);
  --nav-menu-font-disabled-color: #8a909a;
  --nav-menu-background-color: #FFFFFF;
  --nav-menu-active-color: var(--hover-color);
  --nav-menu-border-color: rgba(0, 0, 0, 0.18);
  --input-text-background: var(--main-background);
  --input-text-focus-background: var(--main-background);
  --input-text-hover-background: var(--main-background);
  --popup-color: var(--component-color);
  --popup-background: #FFFFFF;
  --popup-error-color: var(--error-color);
  --popup-close-button: var(--main-color);
}
