$default-color: #262626;
$trail-color: #EDEDED;
$trail-selected-color: #FBAEC9;
$box-selected-color: #F20D5E;
$disabled-color: #D9D9D9;

$_2px: 0.143rem;
$_5px: 0.357rem;

.toggle-base {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: default;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
  &:hover .toggle-box:not(.checked) {
    transform: rotate(15deg) translate($_2px);
    border: $_5px solid $box-selected-color;
  }
}

.toggle-switch {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 1rem;
}

.toggle-trail {
  display: inline-flex;
  width: 2rem;
  height: $_5px;
  background: $trail-color;
  z-index: 0;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.checked {
    background: $trail-selected-color;
  }
}

.toggle-box {
  position: absolute;
  display: inline-flex;
  height: 1rem;
  width: 1rem;
  border: $_5px solid $default-color;
  box-sizing: border-box;
  z-index: 1;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.checked:not(.disabled) {
    transform: translate(1rem, 0) rotate(45deg) !important;
    border: $_5px solid $box-selected-color;
    background: $box-selected-color;
  }
  &.disabled:not(.checked) {
    border: $_5px solid $disabled-color;
  }
  &.checked.disabled {
    transform: translate(1rem, 0) rotate(45deg) !important;
    border: $_5px solid $disabled-color;
    background: $disabled-color;
  }
}

.toggle-label {
  margin-left: 1rem;
  cursor: inherit;

  &.disabled {
    color: $disabled-color;
  }
}
