$default-color: var(--table-header-color);
$header-text-color: var(--table-header-text);
$table-background: var(--chart-background);
$main-background: var(--main-background);
$text-color: var(--table-text-color);

.table-canvas {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: $table-background;
  color: var(--table-text-color);

  .top {
    display: flex;
    flex: 0;

    .action-bar {
      display: flex;
      flex: 1;
    }

    .options {
      display: flex;
      flex: 0;
    }
  }

  .table {
    position: relative;
    flex: 1;
    min-height: 0;
    min-width: 0;

    biit-progress-bar {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 3px;
      top: 42px;
    }

    ::ng-deep ngx-datatable {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      > div {
        height: calc(100% - 42px);

        > div {
          height: 100%;
        }
      }

      datatable-header {
        .datatable-header-inner {
          height: inherit;

          .datatable-header-cell-template-wrap {
            height: 100% !important;
            width: calc(100% - 3px);

            display: flex;
            align-items: center;
            justify-content: center;
            background: $default-color;
            color: $header-text-color;

            span {
              color: $text-color;
              font-size: 16px;
              line-height: 100%;
              font-weight: 700;
              text-transform: uppercase;
            }

            .sort-btn {
              position: absolute;
              right: 14px;
            }

            &:has(biit-checkbox) {
              background: $table-background;
            }
          }
        }
      }

      datatable-body {
        height: 100% !important;
        overflow-y: auto !important;

        .empty-row {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        datatable-body-row {
          .datatable-body-cell-label {
            display: flex;
            align-items: center;
            min-height: 42px;
            border-bottom: 3px solid $default-color;
            width: calc(100% - 3px);
            padding: 9px 14px;
            line-height: 120%;
            height: 100%;
          }

          &:hover .datatable-body-cell-label {
            background: $text-color;
          }

          &.active .datatable-body-cell-label {
            background: $main-background;
          }
        }
      }

      datatable-footer {
        position: absolute;
        bottom: 0;
        background: $table-background;
        z-index: 10;

        .datatable-footer-inner {
          .label {
            flex: 1 0;
          }

          .pagination {
            display: flex;
            margin: auto;
            flex: 0;
            justify-content: center;

            biit-datatable-pager {
              flex: none !important;
            }
          }

          .page-items {
            flex: 1 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $text-color;

            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: none;

              &:focus-visible {
                outline: none;
                background: $main-background;
              }

              height: 34px;
              min-width: 34px;
              padding: 8px 14px;
              text-align: end;
              font-size: 14px;
              font-family: 'Montserrat', serif;
              cursor: pointer;
              background: $table-background;
              color: $text-color;

              &:hover {
                background: $main-background;
              }

              * {
                background: $table-background;
                padding: 5px;
              }
            }
          }
        }
      }

      &:has(datatable-footer) datatable-body {
        height: calc(100% - 48px) !important;
      }
    }
  }
}

::ng-deep ngx-datatable {
  .auto-details-height {
    .datatable-row-wrapper {
      height: unset !important;

      .datatable-row-detail {
        height: unset !important;
      }
    }
  }
}

.default-menu {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .page-items {
    display: none !important;
  }
  .page-size-selector {
    display: none !important;
  }
  .horizontal-menu {
    display: none !important;
  }
}

@media screen and (min-width: 601px) {
  .vertical-menu {
    display: none !important;
  }
}
