$default-color: var(--popup-color);
$error-color: var(--popup-error-color);
$popup-background: var(--popup-background);

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  &.dark-bg {
    background-color: var(--popup-background-color);
  }
}

.popup-canvas {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30rem;
  background-color: $popup-background;
  z-index: 12;
  border: 3px solid $default-color;
  box-sizing: border-box;
  padding: 2.1rem;

  > .content {
    display: inline-flex;
  }
}

@media screen and (max-width: 600px) {
  .popup-canvas {
    top: 0 !important;
    left: 0 !important;
    transform: unset !important;
    height: 100% !important;
    width: 100% !important;
    text-align: center;
    min-width: unset !important;
  }
}

@media screen and (max-width: 800px) {
  .sixty-canvas {
    width: 100vw !important;
    padding: 1rem !important;
  }
}

.sixty-canvas {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: $popup-background;
  z-index: 11;
  border: 3px solid $default-color;
  box-sizing: border-box;
  padding: 2.1rem 2.1rem 3rem 2.1rem;

  > .content {
    display: inline-flex;
    width: 100%;
    height: fit-content;
    flex-grow: 1;
    overflow-y: auto;
  }
}

.popup-canvas .header, .sixty-canvas .header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2.1rem;
  width: 100%;
  flex-shrink: 0;

  .title {
    display: inline-flex;
    flex-grow: 1;
    max-width: 90%;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
    position: absolute;
    left: 0;

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 60%;
    background: $default-color;
  }

  .close {
    display: inline-flex;
    height: 0.9rem;
    width: 0.9rem;
    cursor: pointer;
  }
}

.info-box-canvas {
  position: fixed;
  width: 23.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: $popup-background;
  border: 3px solid $default-color;
  gap: 0.75rem;

  .bar {
    display: none;
  }

  .header {
    display: flex;
    align-items: start;

    .title {
      font-weight: bold;
      text-transform: uppercase;
      flex-grow: 1;
      padding-right: 0.5rem;
    }
  }

  .close {
    height: 0.8rem;
    width: 1rem;
    flex-shrink: 0;
    margin-top: 0.2rem;
    cursor: pointer;
  }

  > .content {
    display: inline-flex;
  }
}

@media screen and (max-width: 600px) {
  .popup-canvas > .content {
    justify-content: center;
  }
}
